Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Path conditions:
  cloud-provider-openstack-unittest: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-format: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-k8s-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-csi-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-e2e-test-csi-cinder: (any of: ^pkg/csi/cinder/.*, ^pkg/util/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-flexvolume-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)

csi-cinder-controller: changed NotFound behavior (#925)
  pkg/csi/cinder/controllerserver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Update gophercloud version (#924)
  go.mod
  go.sum
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

[occm]: Delete the floating IP only when needed (#930)
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

[octavia-ingress-controller] Support TLS in Ingress
  go.mod
  go.sum
  pkg/ingress/controller/controller.go
  pkg/ingress/controller/openstack/client.go
  pkg/ingress/controller/openstack/octavia.go
  pkg/util/openstack/keymanager.go
  pkg/util/openstack/loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

[octavia-ingress-controller] Support TLS in Ingress (#927)
  go.mod
  go.sum
  pkg/ingress/controller/controller.go
  pkg/ingress/controller/openstack/client.go
  pkg/ingress/controller/openstack/octavia.go
  pkg/util/openstack/keymanager.go
  pkg/util/openstack/loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

[octavia-ingress-controller]: TLS Ingress doc
  docs/using-octavia-ingress-controller.md
Due: none

Use k8s.io/utils package (#922)
  pkg/csi/cinder/mount/mount.go
  pkg/csi/cinder/mount/mount_mock.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/sanity/fakemount.go
  pkg/util/metadata/metadata.go
  pkg/util/mount/mount.go
  pkg/util/mount/mount_linux.go
  pkg/util/mount/mount_unsupported.go
  pkg/util/mount/mount_windows.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[octavia-ingress-controller]: TLS Ingress doc (#936)
  docs/using-octavia-ingress-controller.md
Due: none

[OCCM] Enable OCCM CI job to test LoadBalancer type Service
  .zuul.yaml
  tests/e2e/cloudprovider/test-lb-service.sh
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

fix `No such file or directory` for make command
  Makefile
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[OCCM] Enable OCCM CI job to test LoadBalancer type Service (#934)
  .zuul.yaml
  tests/e2e/cloudprovider/test-lb-service.sh
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Enable resize e2e tests
  .zuul.yaml
  test/cinder-testdriver.go
  test/csi-volumes.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Move pkg/csi/cinder/mount to pkg/util
  cmd/cinder-csi-plugin/main.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/utils.go
  pkg/util/metadata/metadata.go
  pkg/util/mount/mount.go
  pkg/util/mount/mount_mock.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[Docs] Mention that x-forwarded-for is only supported in LBaas Octavia
  docs/expose-applications-using-loadbalancer-type-service.md
Due: none

[cinder-flex-volume-driver] Disable the CI job
  .zuul.yaml
  README.md
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[Docs] Mention that x-forwarded-for is only supported in LBaas Octavia (#943)
  docs/expose-applications-using-loadbalancer-type-service.md
Due: none

fix `No such file or directory` for make command (#940)
  Makefile
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

added Probe to csiclient.Identity
  pkg/csi/manila/csiclient/builder.go
  pkg/csi/manila/csiclient/client.go
  pkg/csi/manila/csiclient/interface.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

forward Probe() to the partner node plugin
  pkg/csi/manila/identityserver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

updated sanity test
  pkg/csi/manila/sanity/fakecsiclient.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[cinder-flex-volume-driver] Disable the CI job (#937)
  .zuul.yaml
  README.md
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Add metadata search order to cinder csi plugin
  docs/using-cinder-csi-plugin.md
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_instances.go
  pkg/csi/cinder/openstack/openstack_mock.go
  pkg/csi/cinder/sanity/fakecloud.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Identity.Probe returns FAILED_PRECONDITION on error
  pkg/csi/manila/identityserver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Update csi-volumes.go
  test/csi-volumes.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[manila-csi-plugin] Probe() must be forwarded to partner node plugin (#945)
  pkg/csi/manila/csiclient/builder.go
  pkg/csi/manila/csiclient/client.go
  pkg/csi/manila/csiclient/interface.go
  pkg/csi/manila/identityserver.go
  pkg/csi/manila/sanity/fakecsiclient.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Add metadata search order to cinder csi plugin (#920)
  docs/using-cinder-csi-plugin.md
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_instances.go
  pkg/csi/cinder/openstack/openstack_mock.go
  pkg/csi/cinder/sanity/fakecloud.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Add keystone-probe-period
  cmd/cinder-csi-plugin/main.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/identityserver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Fix sanity_test
  pkg/csi/cinder/sanity/sanity_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Fixing ca-file doc
  docs/using-cinder-csi-plugin.md
Due: none
