Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Update .zuul.yaml
  .zuul.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[cinder-csi-plugin] Add availability zone topology awareness for ephemeral storage (#1022)
  examples/cinder-csi-plugin/inline/inline-example.yaml
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/nodeserver_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder

nit: rename SnapshotReadyStatus to snapshotReadyStatus (#1014)
  pkg/csi/cinder/openstack/openstack_snapshots.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder

[cinder-csi-plugin] Add version into cinder CSI driver info
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/identityserver.go
  pkg/csi/cinder/identityserver_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder

Allow create snapshot when the volume is in in-use state
  examples/cinder-csi-plugin/snapshot/example.yaml
  pkg/csi/cinder/openstack/openstack_snapshots.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder

Returned non-err if volume not mounted (#897)
  pkg/csi/cinder/nodeserver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder

csi-cinder-controller: changed NotFound behavior (#925)
  pkg/csi/cinder/controllerserver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder

Fix the release note guide
  .github/PULL_REQUEST_TEMPLATE.md
  Makefile
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance

Fix the release note guide (#1026)
  .github/PULL_REQUEST_TEMPLATE.md
  Makefile
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance

[cinder-csi-plugin] Add csi-migration-test go .zuul.yaml (#1012)
  .zuul.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Add Bugzilla component information
  OWNERS
Due: none

Update the doc of getting-started-provider-dev
  docs/getting-started-provider-dev.md
Due: none

report fully qualified version as {driver version}@{CPO version} (#1025)
  pkg/csi/manila/driver.go
  pkg/csi/manila/identityserver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

Update the doc of getting-started-provider-dev (#1016)
  docs/getting-started-provider-dev.md
Due: none

[openstack-cloud-controller-manager] Support multiple network names (#1023)
  docs/using-openstack-cloud-controller-manager.md
  pkg/cloudprovider/providers/openstack/openstack.go
  pkg/cloudprovider/providers/openstack/openstack_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

[manila-csi-plugin] updates to k8s manifests and helm chart (#996)
  examples/manila-csi-plugin/helm-deployment/values.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

Disable the CI job for k8s-keystone-auth binary
  .zuul.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[cinder-csi-plugin] Fix 404 and Enrich links
  docs/using-cinder-csi-plugin.md
Due: none

[cinder-csi-plugin] Fix 404 and Enrich links (#1024)
  docs/using-cinder-csi-plugin.md
Due: none

Add init helm chart for cinder-csi
  examples/cinder-csi-plugin/helm/.helmignore
  examples/cinder-csi-plugin/helm/Chart.yaml
  examples/cinder-csi-plugin/helm/README.md
  examples/cinder-csi-plugin/helm/templates/NOTES.txt
  examples/cinder-csi-plugin/helm/templates/_helpers.tpl
  examples/cinder-csi-plugin/helm/templates/cinder-csi-driver.yaml
  examples/cinder-csi-plugin/helm/templates/controllerplugin-rbac.yaml
  examples/cinder-csi-plugin/helm/templates/controllerplugin-statefulset.yaml
  examples/cinder-csi-plugin/helm/templates/nodeplugin-daemonset.yaml
  examples/cinder-csi-plugin/helm/templates/nodeplugin-rbac.yaml
  examples/cinder-csi-plugin/helm/templates/storageclass.yaml
  examples/cinder-csi-plugin/helm/values.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Move helm chart, add documentation
  charts/cinder-csi-plugin/.helmignore
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/README.md
  charts/cinder-csi-plugin/templates/NOTES.txt
  charts/cinder-csi-plugin/templates/_helpers.tpl
  charts/cinder-csi-plugin/templates/cinder-csi-driver.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-rbac.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-rbac.yaml
  charts/cinder-csi-plugin/templates/storageclass.yaml
  charts/cinder-csi-plugin/values.yaml
  docs/using-cinder-csi-plugin.md
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[cinder-csi-plugin] add Helm chart (#1011)
  charts/cinder-csi-plugin/.helmignore
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/README.md
  charts/cinder-csi-plugin/templates/NOTES.txt
  charts/cinder-csi-plugin/templates/_helpers.tpl
  charts/cinder-csi-plugin/templates/cinder-csi-driver.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-rbac.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-rbac.yaml
  charts/cinder-csi-plugin/templates/storageclass.yaml
  charts/cinder-csi-plugin/values.yaml
  docs/using-cinder-csi-plugin.md
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[occm] Remove volume related code from openstack-cloud-controller-manager
  pkg/cloudprovider/providers/openstack/openstack.go
  pkg/cloudprovider/providers/openstack/openstack_client.go
  pkg/cloudprovider/providers/openstack/openstack_test.go
  pkg/cloudprovider/providers/openstack/openstack_volumes.go
  pkg/csi/cinder/controllerserver.go
  pkg/util/util.go
  pkg/volume/cinder/attacher.go
  pkg/volume/cinder/attacher_test.go
  pkg/volume/cinder/cinder.go
  pkg/volume/cinder/cinder_block.go
  pkg/volume/cinder/cinder_block_test.go
  pkg/volume/cinder/cinder_test.go
  pkg/volume/cinder/cinder_util.go
  pkg/volume/cinder/doc.go
  pkg/volume/cinder/volumeservice/actions.go
  pkg/volume/cinder/volumeservice/connection.go
  pkg/volume/cinder/volumeservice/connection_test.go
  pkg/volume/util/error.go
  pkg/volume/util/util.go
  pkg/volume/volume.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Disable the CI job for k8s-keystone-auth binary (#1033)
  .zuul.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Add pagination support
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/fake.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_mock.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/csi/cinder/sanity/fakecloud.go
  pkg/util/errors/errors.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila

OCCM: consider network names, when specified
  pkg/apis/core/v1/helper/helpers.go
  pkg/cloudprovider/providers/openstack/openstack.go
  pkg/cloudprovider/providers/openstack/openstack_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

[occm] Remove volume related code from openstack-cloud-controller-manager (#1036)
  pkg/cloudprovider/providers/openstack/openstack.go
  pkg/cloudprovider/providers/openstack/openstack_client.go
  pkg/cloudprovider/providers/openstack/openstack_test.go
  pkg/cloudprovider/providers/openstack/openstack_volumes.go
  pkg/csi/cinder/controllerserver.go
  pkg/util/util.go
  pkg/volume/cinder/attacher.go
  pkg/volume/cinder/attacher_test.go
  pkg/volume/cinder/cinder.go
  pkg/volume/cinder/cinder_block.go
  pkg/volume/cinder/cinder_block_test.go
  pkg/volume/cinder/cinder_test.go
  pkg/volume/cinder/cinder_util.go
  pkg/volume/cinder/doc.go
  pkg/volume/cinder/volumeservice/actions.go
  pkg/volume/cinder/volumeservice/connection.go
  pkg/volume/cinder/volumeservice/connection_test.go
  pkg/volume/util/error.go
  pkg/volume/util/util.go
  pkg/volume/volume.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Update reviewers list
  OWNERS
Due: none

Path conditions:
  cloud-provider-openstack-unittest: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$, ^.*\.sh$
  cloud-provider-openstack-acceptance-test-lb-octavia: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, ^go.mod$, ^go.sum$, ^Makefile$) and (unless all of: docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-format: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$, ^.*\.sh$
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: (any of: ^cmd/k8s-keystone-auth/.*, ^pkg/identity/.*, ^go.mod$, ^go.sum$, ^Makefile$, tests/e2e/k8s-keystone-auth/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-csi-cinder: (any of: cmd/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, pkg/cloudprovider/providers/openstack/.*, test/.*, cmd/tests/.*, ^go.mod$, ^go.sum$, ^Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-e2e-test-csi-cinder: any of: ^cmd/cinder-csi-plugin/.*, ^pkg/csi/cinder/.*, ^pkg/util/.*, ^test/.*, ^cmd/tests/.*, ^go.mod$, ^go.sum$, ^Makefile$
  cloud-provider-openstack-acceptance-test-csi-manila: (any of: ^cmd/manila-csi-plugin/.*, ^examples/manila-csi-plugin/.*, ^pkg/csi/manila/.*, ^pkg/util/errors/.*, ^pkg/cloudprovider/providers/openstack/.*, ^pkg/share/manila/shareoptions/validator/.*, ^go.mod$, ^go.sum$, ^Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$, ^Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
