Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Path conditions:
  cloud-provider-openstack-unittest: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-format: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-k8s-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-csi-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-e2e-test-csi-cinder: (any of: ^pkg/csi/cinder/.*, ^pkg/util/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-flexvolume-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)

Update csi-volumes.go
  test/csi-volumes.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Fixing ca-file doc (#948)
  docs/using-cinder-csi-plugin.md
Due: none

Move pkg/csi/cinder/mount to pkg/util (#942)
  cmd/cinder-csi-plugin/main.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/utils.go
  pkg/util/metadata/metadata.go
  pkg/util/mount/mount.go
  pkg/util/mount/mount_mock.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Support multi-arch for releases
  .gitignore
  Makefile
  cluster/images/Dockerfile.tmp
  cluster/images/barbican-kms-plugin/Dockerfile.build
  cluster/images/cinder-csi-plugin/Dockerfile.build
  cluster/images/cinder-flex-volume-driver/Dockerfile.build
  cluster/images/cinder-flex-volume-driver/cinder.conf.default
  cluster/images/cinder-flex-volume-driver/flexvolume-ds.yaml
  cluster/images/cinder-flex-volume-driver/install.sh
  cluster/images/cinder-provisioner/Dockerfile.build
  cluster/images/k8s-keystone-auth/Dockerfile.build
  cluster/images/magnum-auto-healer/Dockerfile.build
  cluster/images/manila-csi-plugin/Dockerfile
  cluster/images/manila-csi-plugin/Dockerfile.build
  cluster/images/manila-provisioner/Dockerfile.build
  cluster/images/octavia-ingress-controller/Dockerfile.build
  cluster/images/openstack-cloud-controller-manager/Dockerfile.build
  release-procedure.md
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Add custom version flag to occm
  cmd/openstack-cloud-controller-manager/main.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Add util function to print version and exit
  pkg/version/version.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[openstack-cloud-controller-manager]: Fix version flag (#950)
  cmd/openstack-cloud-controller-manager/main.go
  pkg/version/version.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Add error handling for errors during az retrieval from MetaData service
  pkg/csi/cinder/nodeserver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Remove inactive repo owners
  OWNERS
  pkg/ingress/OWNERS
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[keystone-auth-webhook] Support role mapping
  docs/using-auth-data-synchronization.md
  docs/using-keystone-webhook-authenticator-and-authorizer.md
  go.mod
  go.sum
  pkg/identity/keystone/authenticator.go
  pkg/identity/keystone/authenticator_test.go
  pkg/identity/keystone/keystone.go
  pkg/identity/keystone/mock_IKeystone.go
  pkg/identity/keystone/sync.go
  pkg/identity/keystone/sync_test.go
  pkg/identity/keystone/sync_test.yaml
  pkg/identity/keystone/syncconfig.yaml
  pkg/util/util.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

remove me from maintainer list
  OWNERS
  pkg/cloudprovider/providers/openstack/OWNERS
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

remove me from maintainer list (#963)
  OWNERS
  pkg/cloudprovider/providers/openstack/OWNERS
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Remove inactive repo owners (#958)
  OWNERS
  pkg/ingress/OWNERS
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[cinder-csi-plugin] Enable resize e2e tests (#931)
  .zuul.yaml
  test/cinder-testdriver.go
  test/csi-volumes.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Add error handling for errors during az retrieval from MetaData service (#959)
  pkg/csi/cinder/nodeserver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[keystone-auth-webhook] Support role mapping (#953)
  docs/using-auth-data-synchronization.md
  docs/using-keystone-webhook-authenticator-and-authorizer.md
  go.mod
  go.sum
  pkg/identity/keystone/authenticator.go
  pkg/identity/keystone/authenticator_test.go
  pkg/identity/keystone/keystone.go
  pkg/identity/keystone/mock_IKeystone.go
  pkg/identity/keystone/sync.go
  pkg/identity/keystone/sync_test.go
  pkg/identity/keystone/sync_test.yaml
  pkg/identity/keystone/syncconfig.yaml
  pkg/util/util.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Improve the guideline of getting started
  docs/getting-started-provider-dev.md
Due: none

Support multi-arch for releases (#910)
  .gitignore
  Makefile
  cluster/images/Dockerfile.tmp
  cluster/images/barbican-kms-plugin/Dockerfile.build
  cluster/images/cinder-csi-plugin/Dockerfile.build
  cluster/images/cinder-flex-volume-driver/Dockerfile.build
  cluster/images/cinder-flex-volume-driver/cinder.conf.default
  cluster/images/cinder-flex-volume-driver/flexvolume-ds.yaml
  cluster/images/cinder-flex-volume-driver/install.sh
  cluster/images/cinder-provisioner/Dockerfile.build
  cluster/images/k8s-keystone-auth/Dockerfile.build
  cluster/images/magnum-auto-healer/Dockerfile.build
  cluster/images/manila-csi-plugin/Dockerfile
  cluster/images/manila-csi-plugin/Dockerfile.build
  cluster/images/manila-provisioner/Dockerfile.build
  cluster/images/octavia-ingress-controller/Dockerfile.build
  cluster/images/openstack-cloud-controller-manager/Dockerfile.build
  release-procedure.md
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Improve the guideline of getting started (#961)
  docs/getting-started-provider-dev.md
Due: none

Fix formatting of Service annotations
  docs/expose-applications-using-loadbalancer-type-service.md
Due: none

[k8s-keystone-auth] Add e2e test script
  .zuul.yaml
  tests/e2e/k8s-keystone-auth/test-authz.sh
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Fix formatting of Service annotations (#965)
  docs/expose-applications-using-loadbalancer-type-service.md
Due: none

[k8s-keystone-auth] Add e2e test script (#957)
  .zuul.yaml
  tests/e2e/k8s-keystone-auth/test-authz.sh
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[k8s-keystone-auth] Fix e2e test script
  .zuul.yaml
  tests/e2e/k8s-keystone-auth/test-authz.sh
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[occm] Imporve openstack-cloud-controller-manager doc
  README.md
  docs/expose-applications-using-loadbalancer-type-service.md
  docs/getting-started-provider-dev.md
  docs/openstack-cloud-controller-manager.md
  docs/openstack-kubernetes-integration-options.md
  docs/provider-configuration.md
  docs/using-auth-data-synchronization.md
  docs/using-controller-manager-with-kubeadm.md
  docs/using-keystone-webhook-authenticator-and-authorizer.md
  docs/using-magnum-auto-healer.md
  docs/using-octavia-ingress-controller.md
  docs/using-openstack-cloud-controller-manager.md
  manifests/controller-manager/cloud-config
  manifests/controller-manager/kubeadm.conf
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Fix the file filtering for CI job
  .zuul.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[occm] Imporve openstack-cloud-controller-manager doc (#962)
  README.md
  docs/expose-applications-using-loadbalancer-type-service.md
  docs/getting-started-provider-dev.md
  docs/openstack-cloud-controller-manager.md
  docs/openstack-kubernetes-integration-options.md
  docs/provider-configuration.md
  docs/using-auth-data-synchronization.md
  docs/using-controller-manager-with-kubeadm.md
  docs/using-keystone-webhook-authenticator-and-authorizer.md
  docs/using-magnum-auto-healer.md
  docs/using-octavia-ingress-controller.md
  docs/using-openstack-cloud-controller-manager.md
  manifests/controller-manager/cloud-config
  manifests/controller-manager/kubeadm.conf
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder
