Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Update index.yaml
  index.yaml
Due: none

Update manila dev doc regarding implemented features
  docs/manila-csi-plugin/developers-csi-manila.md
Due: none

[occm] multizone race condition
  pkg/openstack/instances.go
  pkg/openstack/instances_test.go
  pkg/openstack/instancesv2.go
  pkg/openstack/utils.go
  pkg/openstack/utils_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

add dnsPolicy feature to occm
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
Due: none

add dnsPolicy feature to occm (#2594)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
Due: none

support multi region cluster
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/client/client.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_test.go
  pkg/openstack/instancesv2.go
  pkg/openstack/openstack.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Update manila dev doc regarding implemented features (#2591)
  docs/manila-csi-plugin/developers-csi-manila.md
Due: none

POC of TargetNodeLabels selector on OpenStack LB
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/openstack/openstack.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Fix type errors
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Update implementation of getKeyValuePropertiesFromServiceAnnotation
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/openstack/openstack.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

gofmt -w -s ./pkg
  pkg/openstack/openstack.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Polish the code and add documentation
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/openstack/openstack.go
  pkg/util/util.go
  pkg/util/util_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[occm] add a node selector support for loadbalancer services (#2601)
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/openstack/openstack.go
  pkg/util/util.go
  pkg/util/util_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[release-1.30] [occm] add a node selector support for loadbalancer services (#2603)
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/openstack/openstack.go
  pkg/util/util.go
  pkg/util/util_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[tests]: fix 1.28 release CI
  tests/playbooks/roles/install-devstack/defaults/main.yaml
Due: none

[tests]: fix 1.28 release CI (#2607)
  tests/playbooks/roles/install-devstack/defaults/main.yaml
Due: none

[tests]: fix 1.29 tests CI
  tests/playbooks/roles/install-k3s/defaults/main.yaml
Due: none

[tests]: fix 1.29 tests CI (#2608)
  tests/playbooks/roles/install-k3s/defaults/main.yaml
Due: none

feat: csi-cinder storage capacity
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_mock.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  tests/sanity/cinder/fakecloud.go
Due: cloud-provider-openstack-multinode-csi-migration-test

[release-1.29] [occm] add a node selector support for loadbalancer services (#2604)
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/openstack/openstack.go
  pkg/util/util.go
  pkg/util/util_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[occm] add a node selector support for loadbalancer services (#2601) (#2605)
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/openstack/openstack.go
  pkg/util/util.go
  pkg/util/util_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[cinder-csi-plugin] retry mount operation with rescan
  pkg/csi/cinder/nodeserver.go
  pkg/util/blockdevice/blockdevice_linux.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Revert dnsPolicy to Default for occm
  charts/openstack-cloud-controller-manager/values.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
Due: none

Support extraEnv on the cinder-csi-plugin helm chart
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

Support extraEnv on the cinder-csi-plugin helm chart
  charts/cinder-csi-plugin/Chart.yaml
Due: none

[cinder-csi-plugin] ephemeral volume removal
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/nodeserver_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test

noop commit
  cmd/manila-csi-plugin/main.go
Due: none

Support extraEnv on manila-csi-plugin helm chart
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/manila-csi-plugin/values.yaml
Due: none

Path conditions:
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: (any of: cmd/k8s-keystone-auth/.*, pkg/identity/.*, go.mod$, go.sum$, Makefile$, tests/e2e/k8s-keystone-auth/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-multinode-csi-migration-test: any of: cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, go.mod$, go.sum$, Makefile$
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
