Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

added availability to volume parameters
  pkg/csi/manila/options/shareoptions.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

jq should return raw string
  examples/manila-csi-plugin/helm-deployment/values.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

NewDriver now accepts options to enable topology-awareness and node AZ
  pkg/csi/manila/driver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

advertise VOLUME_ACCESSIBILITY_CONSTRAINTS CSI capability
  pkg/csi/manila/identityserver.go
  pkg/csi/manila/nodeserver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

added --nodeaz and --with-topology cmd flags
  cmd/manila-csi-plugin/main.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

CSI sanity test now runs with topology enabled
  pkg/csi/manila/sanity/sanity_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

Dockerfile now installs jq and curl
  cluster/images/manila-csi-plugin/Dockerfile.build
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

CreateVolume: pass AccessibleTopology in response if topology is enabled
  pkg/csi/manila/controllerserver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

updated Helm chart with topology-related options
  examples/manila-csi-plugin/helm-deployment/templates/controllerplugin-statefulset.yaml
  examples/manila-csi-plugin/helm-deployment/templates/nodeplugin-daemonset.yaml
  examples/manila-csi-plugin/helm-deployment/values.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

updateds docs
  docs/using-manila-csi-plugin.md
Due: none

there's supposed to be no dash in between 'topology(-)awareness'
  docs/using-manila-csi-plugin.md
  examples/manila-csi-plugin/helm-deployment/values.yaml
  pkg/csi/manila/driver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

added coalesceValue helper function
  pkg/csi/manila/util.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

document --with-topology
  docs/using-manila-csi-plugin.md
Due: none

[OCCM] Add annotation for creating health monitor
  docs/expose-applications-using-loadbalancer-type-service.md
  docs/using-openstack-cloud-controller-manager.md
  pkg/cloudprovider/providers/openstack/openstack.go
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
  pkg/cloudprovider/providers/openstack/openstack_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Update CSI side car container version (#949)
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Update docs for make commands
  docs/getting-started-provider-dev.md
  docs/using-barbican-kms-plugin.md
  release-procedure.md
Due: none

Change import package name
  pkg/identity/keystone/token_getter.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization

[DMT][TEST] check current CI env allow multi-archs
  .zuul.yaml
  Makefile
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance

Update docs for make commands (#988)
  docs/getting-started-provider-dev.md
  docs/using-barbican-kms-plugin.md
  release-procedure.md
Due: none

[OCCM] Add annotation for creating health monitor (#986)
  docs/expose-applications-using-loadbalancer-type-service.md
  docs/using-openstack-cloud-controller-manager.md
  pkg/cloudprovider/providers/openstack/openstack.go
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
  pkg/cloudprovider/providers/openstack/openstack_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Parse and follow klog CLI flags (#982)
  cmd/client-keystone-auth/main.go
  cmd/octavia-ingress-controller/main.go
  pkg/cloudprovider/providers/openstack/openstack.go
  pkg/identity/keystone/token_getter.go
  pkg/ingress/cmd/root.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

dispatch the broken link to a branch
  docs/using-cinder-csi-plugin.md
Due: none

[OCCM] Fix CI
  tests/e2e/cloudprovider/test-lb-service.sh
Due: cloud-provider-openstack-acceptance-test-lb-octavia

[OCCM] Fix CI (#992)
  tests/e2e/cloudprovider/test-lb-service.sh
Due: cloud-provider-openstack-acceptance-test-lb-octavia

Latest fixes
  pkg/csi/cinder/fake.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/sanity/fakemount.go
  pkg/util/blockdevice/blockdevice_linux.go
  pkg/util/mount/mount.go
  pkg/util/mount/mount_mock.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder

+
  pkg/csi/cinder/fake.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/sanity/fakemount.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder

Rewrite
  pkg/csi/cinder/fake.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/sanity/fakemount.go
  pkg/util/mount/mount.go
  pkg/util/mount/mount_mock.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder

Sanity checks and removal of magic numbers
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/nodeserver_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder

+
  pkg/csi/cinder/nodeserver_test.go
  pkg/util/mount/mount_mock.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder

NodeGetVolumeStats() implementation
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/nodeserver_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder

use preferred topology terms
  pkg/csi/manila/controllerserver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

docs: removed --strict-topology from csi-provisioner as it had no effect
  docs/using-manila-csi-plugin.md
Due: none

[manila-csi-plugin] added AZ/topology support (#939)
  cluster/images/manila-csi-plugin/Dockerfile.build
  cmd/manila-csi-plugin/main.go
  docs/using-manila-csi-plugin.md
  examples/manila-csi-plugin/README.md
  examples/manila-csi-plugin/helm-deployment/templates/controllerplugin-statefulset.yaml
  examples/manila-csi-plugin/helm-deployment/templates/nodeplugin-daemonset.yaml
  examples/manila-csi-plugin/helm-deployment/values.yaml
  examples/manila-csi-plugin/nfs/topology-aware/pod.yaml
  examples/manila-csi-plugin/nfs/topology-aware/pvc.yaml
  examples/manila-csi-plugin/nfs/topology-aware/storageclass.yaml
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/driver.go
  pkg/csi/manila/identityserver.go
  pkg/csi/manila/nodeserver.go
  pkg/csi/manila/options/shareoptions.go
  pkg/csi/manila/sanity/sanity_test.go
  pkg/csi/manila/util.go
  pkg/csi/manila/volumesource.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

dispatch the broken link to a branch
  examples/mysql-cinder-pd/README.md
Due: none

Path conditions:
  cloud-provider-openstack-unittest: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$, ^.*\.sh$
  cloud-provider-openstack-acceptance-test-lb-octavia: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, ^go.mod$, ^go.sum$, ^Makefile$) and (unless all of: docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-format: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$, ^.*\.sh$
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: (any of: ^cmd/k8s-keystone-auth/.*, ^pkg/identity/.*, ^go.mod$, ^go.sum$, ^Makefile$, tests/e2e/k8s-keystone-auth/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-csi-cinder: (any of: cmd/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, pkg/cloudprovider/providers/openstack/.*, test/.*, cmd/tests/.*, ^go.mod$, ^go.sum$, ^Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-e2e-test-csi-cinder: any of: ^cmd/cinder-csi-plugin/.*, ^pkg/csi/cinder/.*, ^pkg/util/.*, ^test/.*, ^cmd/tests/.*, ^go.mod$, ^go.sum$, ^Makefile$
  cloud-provider-openstack-acceptance-test-csi-manila: (any of: ^cmd/manila-csi-plugin/.*, ^examples/manila-csi-plugin/.*, ^pkg/csi/manila/.*, ^pkg/util/errors/.*, ^pkg/cloudprovider/providers/openstack/.*, ^pkg/share/manila/shareoptions/validator/.*, ^go.mod$, ^go.sum$, ^Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$, ^Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
