Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.22, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20

match sa snapshot-controller-sa across templates
  charts/cinder-csi-plugin/templates/snapshot-controller-rbac.yaml
Due: none

install-devstack now generates local.conf from a template
  tests/playbooks/roles/install-devstack/tasks/main.yml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
Due: none

test-occm-e2e: specify which devstack services to enable
  tests/playbooks/test-occm-e2e.yaml
Due: none

tempate expressions must be in quotes
  tests/playbooks/roles/install-devstack/tasks/main.yml
Due: none

add enable_services var to defaults/main.yaml
  tests/playbooks/roles/install-devstack/defaults/main.yaml
Due: none

nit: Remove openlab secret usage
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
Due: none

Add cinder e2e test
  .zuul.yaml
  tests/ci-csi-cinder-e2e.sh
  tests/e2e/csi/cinder/cinder-testdriver.go
  tests/e2e/csi/cinder/csi-volumes.go
  tests/playbooks/roles/install-csi-cinder/README.md
  tests/playbooks/roles/install-csi-cinder/defaults/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: cloud-provider-openstack-e2e-test-csi-cinder

nit: Remove openlab secret usage (#1652)
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
Due: none

removed enable_plugin calls where not needed
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
  tests/playbooks/test-occm-e2e.yaml
Due: none

[Charts] Do not check chart version in dev cycle
  .github/workflows/pr.yaml
  docs/developers-guide.md
Due: none

Update cinder csi rpc log with count number (#1591)
  pkg/csi/cinder/utils.go
Due: cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

[occm] Support re-use load balancer between Services
  Makefile
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  go.mod
  go.sum
  hack/verify-import-boss.sh
  pkg/ingress/controller/controller.go
  pkg/openstack/.import-restrictions
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
  pkg/util/openstack/loadbalancer.go
  pkg/util/openstack/network.go
  pkg/util/util.go
  tests/e2e/cloudprovider/test-lb-service.sh
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.22, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20

[Charts] Do not check chart version in dev cycle (#1654)
  .github/workflows/pr.yaml
  docs/developers-guide.md
Due: none

local.conf template: move rest of the sections to the bottom of the file
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
Due: none

[occm] Support re-use load balancer between Services (#1648)
  Makefile
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  go.mod
  go.sum
  hack/verify-import-boss.sh
  pkg/ingress/controller/controller.go
  pkg/openstack/.import-restrictions
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
  pkg/util/openstack/loadbalancer.go
  pkg/util/openstack/network.go
  pkg/util/util.go
  tests/e2e/cloudprovider/test-lb-service.sh
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.22, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20

Add cinder e2e test (#1640)
  .zuul.yaml
  tests/ci-csi-cinder-e2e.sh
  tests/e2e/csi/cinder/cinder-testdriver.go
  tests/e2e/csi/cinder/csi-volumes.go
  tests/playbooks/roles/install-csi-cinder/README.md
  tests/playbooks/roles/install-csi-cinder/defaults/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: cloud-provider-openstack-e2e-test-csi-cinder

[CI] Make devstack local.conf configurable (#1651)
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/tasks/main.yml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
  tests/playbooks/test-occm-e2e.yaml
Due: none

Updating and vendoring go modules after an upstream merge
  vendor/github.com/gophercloud/gophercloud/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/listeners/doc.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/listeners/requests.go
  vendor/github.com/gophercloud/gophercloud/openstack/loadbalancer/v2/listeners/results.go
  vendor/github.com/gophercloud/gophercloud/provider_client.go
  vendor/github.com/gophercloud/utils/client/client.go
  vendor/github.com/gophercloud/utils/gnocchi/client.go
  vendor/github.com/gophercloud/utils/gnocchi/results.go
  vendor/github.com/gophercloud/utils/internal/pkg.go
  vendor/github.com/gophercloud/utils/internal/util.go
  vendor/github.com/gophercloud/utils/openstack/clientconfig/doc.go
  vendor/github.com/gophercloud/utils/openstack/clientconfig/requests.go
  vendor/github.com/gophercloud/utils/openstack/clientconfig/results.go
  vendor/github.com/gophercloud/utils/openstack/clientconfig/utils.go
  vendor/github.com/gophercloud/utils/openstack/sharedfilesystems/v2/shares/utils.go
  vendor/github.com/gophercloud/utils/openstack/sharedfilesystems/v2/sharetypes/utils.go
  vendor/github.com/gophercloud/utils/openstack/sharedfilesystems/v2/snapshots/utils.go
  vendor/modules.txt
Due: none

Enable volume expansion and cloning tests
  tests/e2e/csi/cinder/cinder-testdriver.go
  tests/e2e/csi/cinder/csi-volumes.go
Due: cloud-provider-openstack-e2e-test-csi-cinder

add support for the loadbalancer.openstack.org/service-ssl-ports annotation
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/util/util.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.22, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20

Drop dims from OWNERS etc.
  OWNERS
  SECURITY_CONTACTS
  pkg/openstack/OWNERS
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.22, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20

Drop dims from OWNERS etc. (#1657)
  OWNERS
  SECURITY_CONTACTS
  pkg/openstack/OWNERS
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.22, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20

[magnum-auto-healer] Update cluster health status only when needed
  pkg/autohealing/controller/controller.go
Due: none

[magnum-auto-healer] Update cluster health status only when needed (#1660)
  pkg/autohealing/controller/controller.go
Due: none

fix gate
  tests/playbooks/roles/install-devstack/tasks/main.yml
Due: none

tests: add install-k8s role
  tests/playbooks/roles/install-k8s/defaults/main.yaml
  tests/playbooks/roles/install-k8s/task/main.yaml
Due: none

[manila-csi-plugin] in ControllerExpandVolume fix bad key for pendingVolumes.Delete
  pkg/csi/manila/controllerserver.go
Due: cloud-provider-openstack-acceptance-test-csi-manila

[manila-csi-plugin] use share.Name to identify volumes in pendingVolumes.Delete
  pkg/csi/manila/controllerserver.go
Due: cloud-provider-openstack-acceptance-test-csi-manila

[manila-csi-plugin] ControllerExpandVolume: fix bad key for deleting from pendingVolumes (#1667)
  pkg/csi/manila/controllerserver.go
Due: cloud-provider-openstack-acceptance-test-csi-manila

[occm] Fix listener, pool and healthmonitor's empty name
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.22, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20

Path conditions:
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: any of: cmd/k8s-keystone-auth/.*, pkg/identity/.*, go.mod$, go.sum$, tests/e2e/k8s-keystone-auth/.*
  cloud-provider-openstack-e2e-test-csi-cinder: any of: cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, tests/e2e/csi/cinder/.*, cmd/tests/.*, pkg/util/blockdevice/.*, pkg/util/mount/.*, go.mod$, go.sum$
  cloud-provider-openstack-sanity-test-csi-cinder: any of: cmd/cinder-csi-plugin/.*, pkg/csi/cinder/.*, tests/sanity/cinder/.*, pkg/util/blockdevice/.*, pkg/util/mount/.*, go.mod$, go.sum$
  cloud-provider-openstack-multinode-csi-migration-test: any of: cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/blockdevice/.*, pkg/util/mount/.*, go.mod$, go.sum$
  cloud-provider-openstack-acceptance-test-csi-manila: any of: cmd/manila-csi-plugin/.*, examples/manila-csi-plugin/.*, pkg/csi/manila/.*, pkg/util/errors/.*, pkg/cloudprovider/providers/openstack/.*, pkg/share/manila/shareoptions/validator/.*, go.mod$, go.sum$
  cloud-provider-openstack-acceptance-test-e2e-conformance: any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/openstack/.*, pkg/util/metadata/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.22: any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/openstack/.*, pkg/util/metadata/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21: any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/openstack/.*, pkg/util/metadata/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20: any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/openstack/.*, pkg/util/metadata/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$
