Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Bump chart version number as requested by bot.
  charts/cinder-csi-plugin/Chart.yaml
Due: none

[cinder-csi-plugin]: helm-charts: use /etc/config/ for cloud.conf (#2892)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

update deps to 1.33 k8s
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

use go 1.24.3
  go.mod
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[Barbican][KMS] Fix clouds.yaml authentication
  pkg/kms/barbican/barbican.go
Due: none

Add weekly govulncheck workflow
  .github/workflows/security-scan.yaml
  Makefile
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

feat(occm/lb): octavia prometheus listener's annotation
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  go.mod
  pkg/openstack/events.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/util/openstack/loadbalancer.go
  pkg/util/util_test.go
  tests/e2e/cloudprovider/test-lb-service.sh
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[occm] docs: remove deprecated apiserver flag from kubeadm.conf
  manifests/controller-manager/kubeadm.conf
Due: none

[all] update deps to 1.33 k8s (#2894)
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

update build images
  Dockerfile
Due: none

[occm] docs: remove deprecated apiserver flag from kubeadm.conf (#2899)
  manifests/controller-manager/kubeadm.conf
Due: none

Target OCCM DaemonSet to control-plane nodes and tolerate CriticalAddonsOnly taint
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
Due: none

fix tests, disable zswap
  go.mod
  go.sum
  pkg/csi/cinder/openstack/openstack.go
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/tasks/main.yml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
  tests/playbooks/roles/install-golang/defaults/main.yml
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

fix timeout
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
Due: none

update e2e cinder test version
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: none

update components
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

Temporarily use EOL Bobcat release
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
Due: none

Temporarily use EOL Bobcat release (#2905)
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
Due: none

feat(occm/lb): octavia prometheus listener's annotation
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/events.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/util/openstack/loadbalancer.go
  pkg/util/util_test.go
  tests/e2e/cloudprovider/test-lb-service.sh
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

release 1.33.0
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/cinder-csi-plugin/multi-region-clouds.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

release 1.33.0 (#2901)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/cinder-csi-plugin/multi-region-clouds.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

update gophercloud v2.7.0
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

fix: Incorrect SA name in auth-delegate clusterRoleBiding
  charts/openstack-cloud-controller-manager/templates/clusterrolebinding-sm.yaml
Due: none

[manila-csi-plugin] Add support for authentication via clouds.yaml (#2883)
  pkg/client/client.go
  pkg/csi/manila/manilaclient/builder.go
  pkg/csi/manila/validator/validator.go
  pkg/csi/manila/validator/validator_test.go
Due: none

handle boolean values correctly when reading from secrets
  pkg/csi/manila/validator/validator.go
  pkg/csi/manila/validator/validator_test.go
Due: none

Implement clouds.yaml support and make auth params optional
  pkg/client/client.go
  pkg/csi/manila/manilaclient/builder.go
  pkg/csi/manila/validator/validator_test.go
Due: none

docs: Document the need to create new jobs upon branching
  docs/release-procedure.md
Due: none

docs: Document the need to create new jobs upon branching (#2912)
  docs/release-procedure.md
Due: none

[release-1.33][manila-csi-plugin] Add support for authentication via clouds.yaml (#2911)
  pkg/client/client.go
  pkg/csi/manila/manilaclient/builder.go
  pkg/csi/manila/validator/validator.go
  pkg/csi/manila/validator/validator_test.go
Due: none

return ResourceExhausted code in CreateVolume (#2860)
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/util/errors/errors.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Bump the rest k8s package dependencies
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

fix error for build-local-images
  Makefile
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

fix error for build-local-images (#2916)
  Makefile
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[cinder-csi-plugin] add POSIX shell to docker image (#2885)
  tools/csi-deps-check.sh
  tools/csi-deps.sh
Due: none

add POSIX shell to docker image
  tools/csi-deps-check.sh
  tools/csi-deps.sh
Due: none

Path conditions:
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: (any of: cmd/k8s-keystone-auth/.*, pkg/identity/.*, go.mod$, go.sum$, Makefile$, tests/e2e/k8s-keystone-auth/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-multinode-csi-migration-test: any of: cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, go.mod$, go.sum$, Makefile$
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
