Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

use ClusterFirstWithHostNet as the default DNS policy
  charts/cinder-csi-plugin/values.yaml
Due: none

[occm] align messages formatting
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/autohealing/cmd/root.go
  pkg/client/client.go
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/server.go
  pkg/csi/manila/controllerserver.go
  pkg/ingress/controller/controller.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack_test.go
  pkg/openstack/routes_test.go
  pkg/util/blockdevice/blockdevice_linux.go
  pkg/util/metadata/metadata_test.go
  pkg/util/openstack/loadbalancer_serial.go
  pkg/util/util.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Align grpc/status.Errorf calls
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/nodeserver.go
Due: cloud-provider-openstack-multinode-csi-migration-test

[occm] align messages formatting (#2487)
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/autohealing/cmd/root.go
  pkg/client/client.go
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/server.go
  pkg/csi/manila/controllerserver.go
  pkg/ingress/controller/controller.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack_test.go
  pkg/openstack/routes_test.go
  pkg/util/blockdevice/blockdevice_linux.go
  pkg/util/metadata/metadata_test.go
  pkg/util/openstack/loadbalancer_serial.go
  pkg/util/util.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[cinder-csi-plugin] added dnsPolicy value for nodeplugin (#2483)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

Fix some typos
  Dockerfile
  cmd/client-keystone-auth/main.go
  docs/cinder-csi-plugin/development.md
  docs/cinder-csi-plugin/examples.md
  docs/cinder-csi-plugin/features.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/openstack-cloud-controller-manager/migrate-to-ccm-with-csimigration.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/identity/keystone/authorizer.go
  pkg/identity/keystone/config.go
  pkg/identity/keystone/keystone.go
  pkg/ingress/controller/controller.go
  pkg/ingress/controller/openstack/client.go
  pkg/kms/encryption/aescbc/aescbc_test.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/openstack/openstack.go
  pkg/util/openstack/keymanager.go
  pkg/util/openstack/loadbalancer.go
  tests/e2e/csi/manila/manilavolume.go
  tests/playbooks/roles/install-docker/tasks/main.yml
  tests/sanity/cinder/fakecloud.go
  tools/csi-deps.sh
  tools/test-setup.sh
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[occm] update docs in order to reflect the current state of the ovn lb-provider support
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
Due: none

Ignore allowed_address_pairs if extension is not available
  pkg/openstack/openstack.go
  pkg/openstack/routes.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Update pkg/openstack/routes.go
  pkg/openstack/routes.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[occm] update k8s.io/kubernetes to v1.29.0-rc.2 in go.mod
  Dockerfile
  go.mod
  go.sum
  hack/make.sh
  tests/e2e/csi/manila/testsuite.go
  tests/playbooks/roles/install-golang/defaults/main.yml
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Ignore allowed_address_pairs if port_security_enabled=false for port
  pkg/openstack/routes.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Fix "go list -m all" execution
  go.mod
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Bump Ubuntu to 22.04 LTS
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-k3s/defaults/main.yaml
Due: none

Add dmesg to collect system logs
  Dockerfile
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tools/csi-deps.sh
Due: none

[occm] update k8s.io/kubernetes to v1.29.0-rc.2 in go.mod (#2486)
  Dockerfile
  go.mod
  go.sum
  hack/make.sh
  tests/e2e/csi/manila/testsuite.go
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-golang/defaults/main.yml
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tools/csi-deps.sh
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Fix dmesg binary in the cinder CSI container image
  tools/csi-deps.sh
Due: none

Fix dmesg binary in the cinder CSI container image (#2495)
  tools/csi-deps.sh
Due: none

update CSI version
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/values.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

[occm] update k8s.io/kubernetes to v1.28.4 in go.mod
  Dockerfile
  go.mod
  go.sum
  hack/make.sh
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[occm] update k8s.io/kubernetes to v1.27.8 in go.mod
  Dockerfile
  go.mod
  go.sum
  hack/make.sh
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Split service patcher
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_service_patcher.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Split security groups
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_sg.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Split subnet matcher
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_subnet_match.go
  pkg/openstack/loadbalancer_subnet_match_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Add finalizer to VolumeSnapshot when create PVC with it
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  cmd/cinder-csi-plugin/main.go
  go.mod
  go.sum
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  pkg/csi/cinder/watcher.go
  pkg/csi/cinder/watcher_test.go
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[occm] Not all OpenStack providers support AllowedAddressPairs (#2492)
  pkg/openstack/openstack.go
  pkg/openstack/routes.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[release-1.28] update k8s.io/kubernetes to v1.28.4 in go.mod (#2496)
  Dockerfile
  go.mod
  go.sum
  hack/make.sh
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Fix some typos (#2488)
  Dockerfile
  cmd/client-keystone-auth/main.go
  docs/cinder-csi-plugin/development.md
  docs/cinder-csi-plugin/examples.md
  docs/cinder-csi-plugin/features.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/openstack-cloud-controller-manager/migrate-to-ccm-with-csimigration.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/identity/keystone/authorizer.go
  pkg/identity/keystone/config.go
  pkg/identity/keystone/keystone.go
  pkg/ingress/controller/controller.go
  pkg/ingress/controller/openstack/client.go
  pkg/kms/encryption/aescbc/aescbc_test.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/openstack/openstack.go
  pkg/util/openstack/keymanager.go
  pkg/util/openstack/loadbalancer.go
  tests/e2e/csi/manila/manilavolume.go
  tests/playbooks/roles/install-docker/tasks/main.yml
  tests/sanity/cinder/fakecloud.go
  tools/csi-deps.sh
  tools/test-setup.sh
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Move getSecurityGroupRules to util
  pkg/openstack/loadbalancer_sg.go
  pkg/util/openstack/security_group.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Path conditions:
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: (any of: cmd/k8s-keystone-auth/.*, pkg/identity/.*, go.mod$, go.sum$, Makefile$, tests/e2e/k8s-keystone-auth/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-multinode-csi-migration-test: any of: cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, go.mod$, go.sum$, Makefile$
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
