Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18

Fix broken link in Keystone docs (#1317)
  docs/keystone-auth/using-client-keystone-auth.md
Due: none

Remove duplidate pull policy definition
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Add node name to pool member
  pkg/ingress/controller/openstack/octavia.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[k8s-keystone-auth] Set the runAsUser: nobody security context.
  examples/webhook/keystone-deployment.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Remove duplidate pull policy definition (#1319)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

remove underbar of member name while updating loadbalancer
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18

Update docs
  docs/barbican-kms-plugin/using-barbican-kms-plugin.md
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  docs/manila-csi-plugin/using-manila-csi-plugin.md
Due: none

Update docs (#1330)
  docs/barbican-kms-plugin/using-barbican-kms-plugin.md
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  docs/manila-csi-plugin/using-manila-csi-plugin.md
Due: none

Add liveness probe
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
  docs/cinder-csi-plugin/features.md
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

Fix autohealer restart issue
  pkg/autohealing/cloudprovider/openstack/provider.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Fix autohealer restart issue (#1334)
  pkg/autohealing/cloudprovider/openstack/provider.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[cinder-csi-plugin] Bump driver version to 1.2.2
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

Add node name to pool member (#1325)
  pkg/ingress/controller/openstack/octavia.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[magnum-auto-healer] Fix autohealer nil pointer bug
  pkg/autohealing/cloudprovider/openstack/provider.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Add liveness probe (#1241)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
  docs/cinder-csi-plugin/features.md
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

Switch CSI sidecar image repository to gcr
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/values.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

Switch CSI sidecar image repository to gcr
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/values.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[magnum-auto-healer] Fix autohealer nil pointer bug (#1336)
  pkg/autohealing/cloudprovider/openstack/provider.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[magnum-auto-healer] Bump container image tag to v1.19.3
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[magnum-auto-healer] Bump container image tag to v1.19.3 (#1340)
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[cinder-csi-plugin] Bump driver version to 1.2.2 (#1335)
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

Remove snapcraft.yaml from repo
  snapcraft.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

cinder-csi disaster recovery example
  docs/cinder-csi-plugin/examples.md
Due: none

fix link
  docs/cinder-csi-plugin/examples.md
Due: none

Switch CSI sidecar image repository to gcr (#1337)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/values.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

fix code style
  docs/cinder-csi-plugin/examples.md
Due: none

fix syntax error
  docs/cinder-csi-plugin/examples.md
Due: none

Switch CSI sidecar image repository to gcr (#1339)
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/values.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Remove snapcraft.yaml from repo (#1342)
  snapcraft.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

update doc to link to internal doc instead of external links
  docs/cinder-csi-plugin/examples.md
  docs/cinder-csi-plugin/features.md
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  docs/keystone-auth/using-client-keystone-auth.md
  docs/openstack-cloud-controller-manager/migrate-to-ccm-with-csimigration.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
Due: none

Path conditions:
  cloud-provider-openstack-unittest: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$, ^.*\.sh$
  cloud-provider-openstack-acceptance-test-lb-octavia: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-format: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$, ^.*\.sh$
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: (any of: cmd/k8s-keystone-auth/.*, pkg/identity/.*, go.mod$, go.sum$, Makefile$, tests/e2e/k8s-keystone-auth/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-csi-cinder: (any of: cluster/images/cinder-csi-plugin/.*, cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, pkg/cloudprovider/providers/openstack/.*, test/.*, cmd/tests/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-e2e-test-csi-cinder: (any of: cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, tests/e2e/csi/cinder/.*, cmd/tests/.*, go.mod$, go.sum$, Makefile$) and (unless all of: docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$)
  cloud-provider-openstack-sanity-test-csi-cinder: (any of: cmd/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, tests/sanity/cinder/.*, go.mod$, go.sum$, Makefile$) and (unless all of: docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$)
  cloud-provider-openstack-multinode-csi-migration-test: any of: cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, go.mod$, go.sum$, Makefile$, .zuul.yaml$
  cloud-provider-openstack-acceptance-test-csi-manila: (any of: cmd/manila-csi-plugin/.*, examples/manila-csi-plugin/.*, pkg/csi/manila/.*, pkg/util/errors/.*, pkg/cloudprovider/providers/openstack/.*, pkg/share/manila/shareoptions/validator/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
