Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18

fix snapshot controller tag
  charts/cinder-csi-plugin/values.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

fix snapshot controller rbac
  charts/cinder-csi-plugin/templates/snapshot-controller-rbac.yaml
  charts/cinder-csi-plugin/templates/snapshot-controller-statefulset.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

add comment to snapshot controller installation
  charts/cinder-csi-plugin/templates/snapshot-controller-rbac.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

remove verbose output
  charts/cinder-csi-plugin/templates/snapshot-controller-statefulset.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

add blockStorage rule for cloud.conf
  charts/openstack-cloud-controller-manager/templates/_helpers.tpl
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

added blockStorage as value
  charts/openstack-cloud-controller-manager/values.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Added priorityClassName to DaemonSet on manila-csi-plugin helm chart, related #1460 (#1452)
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/manila-csi-plugin/values.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

fix maintainer names to Github user names
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Fix magnum auto healer (#1447)
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/autohealing/cloudprovider/register/register.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[cinder-csi-plugin] add snapshot controller to Helm Chart (#1457)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/_helpers.tpl
  charts/cinder-csi-plugin/templates/snapshot-controller-rbac.yaml
  charts/cinder-csi-plugin/templates/snapshot-controller-statefulset.yaml
  charts/cinder-csi-plugin/values.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

some more documentation
  charts/openstack-cloud-controller-manager/values.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

add osl helm chart
  charts/openstack-service-loadbalancer/Chart.yaml
  charts/openstack-service-loadbalancer/README.md
  charts/openstack-service-loadbalancer/templates/service-lb.yaml
  charts/openstack-service-loadbalancer/values.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

DNM: test UT
  pkg/csi/cinder/server.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

Fix magnum auto healer (#1447) (#1461)
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/autohealing/cloudprovider/register/register.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Fix magnum auto healer (#1447) (#1462)
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/autohealing/cloudprovider/register/register.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Check volume status in createVolume
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/fake.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

move out service LoadBalancer to extra chart
  charts/openstack-cloud-controller-manager/templates/service-lb.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[magnum-auto-healer] Fix undefined param
  pkg/autohealing/cloudprovider/register/register.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[magnum-auto-healer] Fix undefined param (#1467)
  pkg/autohealing/cloudprovider/register/register.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

sanity: fakeCSIClientBuilder needs to create a grpc connection
  tests/sanity/manila/fakecsiclient.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

close grpc connections
  pkg/csi/manila/driver.go
  pkg/csi/manila/identityserver.go
  pkg/csi/manila/nodeserver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

[cinder-csi-plugin] Sanitize secrets in the requests
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/utils.go
  pkg/csi/cinder/utils_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

[magnum-auto-healer] Fix undefined param
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/autohealing/cloudprovider/register/register.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[magnum-auto-healer] Fix undefined param (#1468)
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/autohealing/cloudprovider/register/register.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[cinder-csi-plugin] Start using --nodeid option
  cmd/cinder-csi-plugin/main.go
  pkg/csi/cinder/nodeserver.go
  tests/sanity/cinder/sanity_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

add support for TLS terminated loadbalancers
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/client/service.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

fix the wrong link
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
Due: none

fix the wrong link (#1477)
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
Due: none

[cinder-csi-plugin] Sanitize secrets in the requests (#1471)
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/utils.go
  pkg/csi/cinder/utils_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

[manila-csi-plugin] close GRPC connections (#1473)
  pkg/csi/manila/driver.go
  pkg/csi/manila/identityserver.go
  pkg/csi/manila/nodeserver.go
  tests/sanity/manila/fakecsiclient.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Path conditions:
  cloud-provider-openstack-unittest: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$, ^.*\.sh$
  cloud-provider-openstack-acceptance-test-lb-octavia: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-format: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$, ^.*\.sh$
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: (any of: cmd/k8s-keystone-auth/.*, pkg/identity/.*, go.mod$, go.sum$, Makefile$, tests/e2e/k8s-keystone-auth/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-csi-cinder: (any of: cluster/images/cinder-csi-plugin/.*, cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, pkg/cloudprovider/providers/openstack/.*, test/.*, cmd/tests/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-e2e-test-csi-cinder: (any of: cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, tests/e2e/csi/cinder/.*, cmd/tests/.*, go.mod$, go.sum$, Makefile$) and (unless all of: docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$)
  cloud-provider-openstack-sanity-test-csi-cinder: (any of: cmd/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, tests/sanity/cinder/.*, go.mod$, go.sum$, Makefile$) and (unless all of: docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$)
  cloud-provider-openstack-multinode-csi-migration-test: any of: cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, go.mod$, go.sum$, Makefile$, .zuul.yaml$
  cloud-provider-openstack-acceptance-test-csi-manila: (any of: cmd/manila-csi-plugin/.*, examples/manila-csi-plugin/.*, pkg/csi/manila/.*, pkg/util/errors/.*, pkg/cloudprovider/providers/openstack/.*, pkg/share/manila/shareoptions/validator/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
