Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[helm] occm cinder-csi securityContext
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

efactors and enhances the codebase of the cinder csi plugin
  cmd/cinder-csi-plugin/main.go
Due: cloud-provider-openstack-multinode-csi-migration-test

efactors and enhances the codebase of the cinder csi plugin (#2288)
  cmd/cinder-csi-plugin/main.go
Due: cloud-provider-openstack-multinode-csi-migration-test

Apply LB SG to nodes only once
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

fixed Grammatical mistakes in barbican-kms-plugin
  docs/barbican-kms-plugin/using-barbican-kms-plugin.md
Due: none

Fixed the Grammatical mistakes in barbican-kms-plugin
  docs/barbican-kms-plugin/using-barbican-kms-plugin.md
Due: none

Added comments and arranged the variable names
  cmd/manila-csi-plugin/main.go
Due: none

improved the grammatical errors in sidecarcompatibility.md
  docs/cinder-csi-plugin/sidecarcompatibility.md
Due: none

Updated the sidecarcompatibility.md
  docs/cinder-csi-plugin/sidecarcompatibility.md
Due: none

fixed Grammatical mistakes in barbican-kms-plugin (#2289)
  docs/barbican-kms-plugin/using-barbican-kms-plugin.md
Due: none

[helm] occm cinder-csi securityContext (#2286)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Added comments and arranged the variable names (#2290)
  cmd/manila-csi-plugin/main.go
Due: none

Improved the grammar in sidecarcompatibility.md (#2292)
  docs/cinder-csi-plugin/sidecarcompatibility.md
Due: none

[cinder]: avoid unnecessary memory allocation with more logs
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test

Delete unused SG rules with manage-security-groups
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Fix pagination parsing
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: cloud-provider-openstack-multinode-csi-migration-test

Allocate array capacity in advance
  pkg/csi/cinder/driver.go
  pkg/csi/manila/driver.go
  pkg/identity/keystone/authenticator.go
  pkg/identity/keystone/keystone.go
  pkg/ingress/controller/openstack/octavia.go
  pkg/openstack/instances.go
  pkg/openstack/routes.go
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Remove unused manila code
  cmd/manila-csi-plugin/main.go
  pkg/csi/manila/capabilities/manilacapabilities.go
  pkg/csi/manila/compatibility/compatibility.go
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/driver.go
  pkg/csi/manila/manilaclient/builder.go
  pkg/csi/manila/nodeserver.go
  pkg/csi/manila/options/compatibilityoptions.go
  pkg/csi/manila/share.go
  pkg/csi/manila/snapshot.go
  pkg/csi/manila/util.go
  pkg/csi/manila/volumesource.go
  tests/sanity/manila/sanity_test.go
Due: none

[occm] Delete unused SG rules with manage-security-groups (#2287)
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Corrected the grammar
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
Due: none

Corrected the grammar (#2301)
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
Due: none

Allocate array capacity in advance (#2297)
  pkg/csi/cinder/driver.go
  pkg/csi/manila/driver.go
  pkg/identity/keystone/authenticator.go
  pkg/identity/keystone/keystone.go
  pkg/ingress/controller/openstack/octavia.go
  pkg/openstack/instances.go
  pkg/openstack/routes.go
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Optimize `applyNodeSecurityGroupIDForLB()`
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Use `instanceIDFromProviderID()` function
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Remove filtering by device_owner.
  pkg/openstack/instances.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Remove filtering by device_owner. (#2304)
  pkg/openstack/instances.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[cinder-csi-plugin]: fix pagination, avoid unnecessary memory allocation, add more logs (#2296)
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: cloud-provider-openstack-multinode-csi-migration-test

Use `instanceIDFromProviderID()` function (#2302)
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Make manage-security-groups work with OVN
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Use errors.IsNotFound()
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Remove unused manila code (#2299)
  cmd/manila-csi-plugin/main.go
  pkg/csi/manila/capabilities/manilacapabilities.go
  pkg/csi/manila/compatibility/compatibility.go
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/driver.go
  pkg/csi/manila/manilaclient/builder.go
  pkg/csi/manila/nodeserver.go
  pkg/csi/manila/options/compatibilityoptions.go
  pkg/csi/manila/share.go
  pkg/csi/manila/snapshot.go
  pkg/csi/manila/util.go
  pkg/csi/manila/volumesource.go
  tests/sanity/manila/sanity_test.go
Due: none

Optimize `applyNodeSecurityGroupIDForLB()` (#2293)
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Make sure SGs are deleted when CPO is reconfigured
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[occm] Delete sgs on reconfiguration (#2305)
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Make manage-security-groups work with OVN (#2291)
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

OCPBUGS-16783: Chore: Update OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

Path conditions:
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: (any of: cmd/k8s-keystone-auth/.*, pkg/identity/.*, go.mod$, go.sum$, Makefile$, tests/e2e/k8s-keystone-auth/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-multinode-csi-migration-test: any of: cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, go.mod$, go.sum$, Makefile$
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
