Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

.zuul.yaml:

- project:
    cloud-provider-openstack-acceptance-test-keystone-authentication-authorization:
      jobs:
        - cloud-provider-openstack-acceptance-test-keystone-authentication-authorization:
            files:
              - cmd/k8s-keystone-auth/.*
              - pkg/identity/.*
              - go.mod$
              - go.sum$
              - Makefile$
              - tests/e2e/k8s-keystone-auth/.*
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-multinode-csi-migration-test:
      jobs:
        - cloud-provider-openstack-multinode-csi-migration-test:
            files:
              - cmd/cinder-csi-plugin/.*
              - manifests/cinder-csi-plugin/.*
              - pkg/csi/cinder/.*
              - pkg/util/.*
              - go.mod$
              - go.sum$
              - Makefile$
    cloud-provider-openstack-acceptance-test-e2e-conformance:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$

migrate away from gcr.io/k8s-testimages
  cloudbuild.yaml
Due: none

Bump CSI test timeouts (#2966)
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/roles/install-devstack/tasks/main.yml
Due: none

migrate away from gcr.io/k8s-testimages (#2969)
  cloudbuild.yaml
Due: none

migrate away from gcr.io/k8s-testimages (#2970)
  cloudbuild.yaml
Due: none

migrate away from gcr.io/k8s-testimages (#2971)
  cloudbuild.yaml
Due: none

Bump CSI test timeouts (#2966) (#2972)
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/roles/install-devstack/tasks/main.yml
Due: none

Bump CSI test timeouts (#2966) (#2973)
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/roles/install-devstack/tasks/main.yml
Due: none

tests: Bump amphora image
  tests/playbooks/roles/install-devstack/defaults/main.yaml
Due: none

tests: Correct broken conditions
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/test-occm-e2e.yaml
Due: none

devstack: Remove USE_PYTHON3
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
Due: none

tests: Install Ansible from Debian Testing
  tests/ci-csi-cinder-e2e.sh
  tests/ci-csi-manila-e2e.sh
  tests/ci-occm-e2e.sh
Due: none

tests: Bump DevStack to Epoxy (2025.1)
  tests/playbooks/roles/install-devstack/defaults/main.yaml
Due: none

tests: Decrease device detach timeout
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
Due: none

tests: Suffix image version
  tests/scripts/create-gce-vm.sh
Due: none

[release-1.33] tests: Bump DevStack to Epoxy (2025.1) (#2955)
  tests/ci-csi-cinder-e2e.sh
  tests/ci-csi-manila-e2e.sh
  tests/ci-occm-e2e.sh
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
  tests/playbooks/test-occm-e2e.yaml
  tests/scripts/create-gce-vm.sh
Due: none

[cinder-csi-plugin]: do not allow DetachVolume when status is detaching (#2965)
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: cloud-provider-openstack-multinode-csi-migration-test

do not allow DetachVolume when status is detaching
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: cloud-provider-openstack-multinode-csi-migration-test

tests: Bump DevStack to Epoxy (2025.1) (#2742)
  tests/ci-csi-cinder-e2e.sh
  tests/ci-csi-manila-e2e.sh
  tests/ci-occm-e2e.sh
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
  tests/playbooks/test-occm-e2e.yaml
  tests/scripts/create-gce-vm.sh
Due: none

do not allow DetachVolume when status is detaching (#2974)
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: cloud-provider-openstack-multinode-csi-migration-test

do not allow DetachVolume when status is detaching (#2975)
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: cloud-provider-openstack-multinode-csi-migration-test

do not allow DetachVolume when status is detaching (#2976)
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: cloud-provider-openstack-multinode-csi-migration-test

cinder-csi-plugin: Don't set segment with empty topology value
  pkg/csi/cinder/controllerserver.go
Due: cloud-provider-openstack-multinode-csi-migration-test

tests: Don't use global mocks
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/nodeserver_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test

cinder-csi-plugin: Group topology generation
  pkg/csi/cinder/controllerserver.go
Due: cloud-provider-openstack-multinode-csi-migration-test

cinder-csi-plugin: Add tests for ignore-volume-az
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack_mock.go
Due: cloud-provider-openstack-multinode-csi-migration-test

cinder-csi-plugin: Add tests for --with-topology=false
  pkg/csi/cinder/controllerserver_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test

Remove errant unicode
  .golangci.yaml
Due: none

Bump golangci-lint to latest version
  .golangci.yaml
  Makefile
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

lint: Use lowercase error strings
  .golangci.yaml
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/csi/cinder/utils.go
  pkg/csi/manila/manilaclient/builder.go
  pkg/identity/keystone/sync.go
  pkg/identity/keystone/sync_test.go
  pkg/kms/encryption/aescbc/aescbc.go
  pkg/kms/server/server.go
  pkg/util/blockdevice/blockdevice_linux.go
  pkg/util/mount/mount.go
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

lint: Remove redundant type info
  .golangci.yaml
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

lint: Prefer switch statements over conditional ladders
  .golangci.yaml
  pkg/autohealing/healthcheck/plugin_endpoint.go
  pkg/identity/keystone/keystone.go
  pkg/ingress/controller/openstack/octavia.go
  pkg/openstack/loadbalancer.go
  pkg/util/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

lint: Simplify conditionals
  .golangci.yaml
  pkg/identity/keystone/authorizer.go
  pkg/openstack/instances_addresses.go
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

lint: Prefer strings.ReplaceAll to string.Replace with n=-1
  .golangci.yaml
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/identity/keystone/authorizer.go
  pkg/identity/keystone/sync.go
  pkg/util/mount/mount.go
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19
