Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Mitigate CVE-2019-11255
  examples/manila-csi-plugin/helm-deployment/values.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[doc] Add cacert using for cinder plugin
  docs/using-cinder-csi-plugin.md
Due: none

Added permissions to coordination api for CCM (#842)
  cluster/addons/rbac/cloud-controller-manager-roles.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

occm: Fix updating lb listener with allowed CIDR (#837)
  go.mod
  go.sum
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
  pkg/util/openstack/loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Add ramineni to approvers
  OWNERS
Due: none

Add ramineni to approvers (#850)
  OWNERS
Due: none

add VipNetworkID parameter support (#824)
  docs/expose-applications-using-loadbalancer-type-service.md
  docs/provider-configuration.md
  pkg/cloudprovider/providers/openstack/openstack.go
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Documented migration to CCM with CSIMigration enabled (#835)
  docs/migrate-to-ccm-with-csimigration.md
Due: none

Update sidecars to latest versions (#822)
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[doc] Add cacert using for cinder plugin (#847)
  docs/using-cinder-csi-plugin.md
Due: none

normalize function return, if block ends with a return statement, so drop this else and outdent its block (#827)
  pkg/csi/manila/driver.go
  pkg/flexvolume/flexvolume.go
  pkg/identity/keystone/authorizer.go
  pkg/util/mount/mount_linux.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[WIP] Remove inactive reviewers/approvers from OWNERS
  OWNERS
Due: none

Cinder CSI Inline volume support
  cmd/cinder-csi-plugin/cloud-config
  cmd/cinder-csi-plugin/main.go
  examples/cinder-csi-plugin/inline/inline-example.yaml
  go.mod
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/cinder-csi-plugin/csi-cinder-driver.yaml
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
  pkg/csi/cinder/fake.go
  pkg/csi/cinder/identityserver_test.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/openstack/openstack_mock.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/csi/cinder/sanity/sanity_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Implemented UDP support for Octavia LB
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Added full cinder ID to candidateDeviceNodes
  pkg/cloudprovider/providers/openstack/openstack_volumes.go
  pkg/csi/cinder/mount/mount.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Added full cinder ID to candidateDeviceNodes (#853)
  pkg/cloudprovider/providers/openstack/openstack_volumes.go
  pkg/csi/cinder/mount/mount.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Updated inline implementation as per k8sv1.16
  cmd/cinder-csi-plugin/main.go
  examples/cinder-csi-plugin/inline/inline-example.yaml
  go.mod
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/cinder-csi-plugin/csi-cinder-driver.yaml
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
  pkg/csi/cinder/fake.go
  pkg/csi/cinder/identityserver_test.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/openstack/openstack_mock.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/csi/cinder/sanity/sanity_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Add chrigl as a approver
  OWNERS
Due: none

Add chrigl as a approver (#854)
  OWNERS
Due: none

Cinder CSI Inline volume support (#719)
  cmd/cinder-csi-plugin/cloud-config
  cmd/cinder-csi-plugin/main.go
  examples/cinder-csi-plugin/inline/inline-example.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/cinder-csi-plugin/csi-cinder-driver.yaml
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/fake.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/openstack/openstack_mock.go
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

fix golint failures (#818)
  cmd/client-keystone-auth/main.go
  pkg/csi/cinder/mount/mount_mock.go
  pkg/util/mount/mount_linux.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Add e2e test framework for cinder csi
  .zuul.yaml
  Makefile
  cmd/tests/cinder_csi_e2e_suite_test.go
  go.mod
  go.sum
  test/cinder-testdriver.go
  test/csi-volumes.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Updated gophercloud to lastest master
  go.mod
  go.sum
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Add e2e test framework for cinder csi (#791)
  .zuul.yaml
  Makefile
  cmd/tests/cinder_csi_e2e_suite_test.go
  go.mod
  go.sum
  test/cinder-testdriver.go
  test/csi-volumes.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Updated gophercloud to lastest master (#855)
  go.mod
  go.sum
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Allow providerID without leading providerName
  pkg/cloudprovider/providers/openstack/openstack_instances.go
  pkg/cloudprovider/providers/openstack/openstack_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Path conditions:
  cloud-provider-openstack-unittest: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-lb-octavia: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-format: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-k8s-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-standalone-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-csi-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-flexvolume-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: ^pkg/cloudprovider/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13: (any of: ^pkg/cloudprovider/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14: (any of: ^pkg/cloudprovider/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15: (any of: ^pkg/cloudprovider/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
