Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18

Path conditions:
  cloud-provider-openstack-unittest: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$, ^.*\.sh$
  cloud-provider-openstack-acceptance-test-lb-octavia: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-format: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$, ^.*\.sh$
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: (any of: cmd/k8s-keystone-auth/.*, pkg/identity/.*, go.mod$, go.sum$, Makefile$, tests/e2e/k8s-keystone-auth/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-csi-cinder: (any of: cluster/images/cinder-csi-plugin/.*, cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, pkg/cloudprovider/providers/openstack/.*, test/.*, cmd/tests/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-e2e-test-csi-cinder: (any of: cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, tests/e2e/csi/cinder/.*, cmd/tests/.*, go.mod$, go.sum$, Makefile$) and (unless all of: docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$)
  cloud-provider-openstack-sanity-test-csi-cinder: (any of: cmd/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, tests/sanity/cinder/.*, go.mod$, go.sum$, Makefile$) and (unless all of: docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$)
  cloud-provider-openstack-multinode-csi-migration-test: any of: cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, go.mod$, go.sum$, Makefile$, .zuul.yaml$
  cloud-provider-openstack-acceptance-test-csi-manila: (any of: cmd/manila-csi-plugin/.*, examples/manila-csi-plugin/.*, pkg/csi/manila/.*, pkg/util/errors/.*, pkg/cloudprovider/providers/openstack/.*, pkg/share/manila/shareoptions/validator/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)

[cinder-csi-plugin] Fix pagination support for ListSnapshots
  pkg/csi/cinder/openstack/openstack_snapshots.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

Add executable to openstack-cloud-controller-manager of user/group/other
  cluster/images/openstack-cloud-controller-manager/Dockerfile.build
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[all] Bump chart version to trigger release action
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[all] Bump chart version to trigger release action (#1389)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Update index.yaml
  index.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

refactory metrics code so that additional code can consume it (#1236)
  pkg/cloudprovider/providers/openstack/metrics/metrics.go
  pkg/cloudprovider/providers/openstack/openstack.go
  pkg/cloudprovider/providers/openstack/openstack_instances.go
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
  pkg/cloudprovider/providers/openstack/openstack_routes.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_api.go
  pkg/metrics/metrics_reconcile.go
  pkg/util/openstack/keymanager.go
  pkg/util/openstack/loadbalancer.go
  pkg/util/openstack/network.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18

Update cinder-csi-controllerplugin-rbac.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

Add executable to openstack-cloud-controller-manager of user/group/other (#1388)
  cluster/images/openstack-cloud-controller-manager/Dockerfile.build
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Remove probe logging
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  pkg/csi/cinder/identityserver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

occm: add missing metric observations, improve logs
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
  pkg/util/openstack/loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18

Fix gofmt
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18

Use values to configure livenessprobe
  charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Bump chart version
  charts/cinder-csi-plugin/Chart.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[occm] add metrics documentation
  docs/metrics.md
Due: none

Set longer timeout and period defaults
  charts/cinder-csi-plugin/values.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

testing latest ci changes
  cmd/cinder-csi-plugin/main.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

[occm] add metrics documentation (#1400)
  docs/metrics.md
Due: none

yet another line changed
  cmd/cinder-csi-plugin/main.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

[occm] validate flavor name, fallback on flavor id
  pkg/cloudprovider/providers/openstack/openstack_instances.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18

[cinder-csi-plugin] Use values to configure livenessprobe in Helm chart (#1399)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/values.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

upgrade major versions of side car
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-rbac.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/cinder-csi-plugin/values.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

[cinder-csi-plugin] Fix pagination support for ListVolumes/ListSnapshots (#1382)
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

Remove probe logging (#1395)
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  pkg/csi/cinder/identityserver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

[occm] validate flavor name, fallback on flavor id (#1364)
  pkg/cloudprovider/providers/openstack/openstack_instances.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18

First test to see if citynetworks supports expand
  tests/e2e/csi/cinder/cinder-testdriver.go
  tests/e2e/csi/cinder/csi-volumes.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-e2e-test-csi-cinder

[occm] validate flavor name, fallback on flavor id (#1402)
  pkg/cloudprovider/providers/openstack/openstack_instances.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18

[occm] loadbalancer: add missing metric observations, improve logs (#1396)
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
  pkg/util/openstack/loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18

upgrade major versions of side car (#1320)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-rbac.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/cinder-csi-plugin/values.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test
