Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

[cinder-csi-plugin] Refactor metadata (#1096)
  cmd/cinder-csi-plugin/main.go
  go.mod
  go.sum
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_instances.go
  pkg/csi/cinder/openstack/openstack_metadata.go
  pkg/csi/cinder/utils.go
  pkg/util/metadata/metadata.go
  pkg/util/metadata/metadata_mock.go
  pkg/util/mount/mount.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

add OWNERS file for manila-csi
  pkg/csi/manila/OWNERS
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

[occm] improve logic for floating IP creation (#1102)
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Move manila-csi-plugin to charts dir (#1110)
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/templates/_helpers.tpl
  charts/manila-csi-plugin/templates/controllerplugin-clusterrole.yaml
  charts/manila-csi-plugin/templates/controllerplugin-clusterrolebinding.yaml
  charts/manila-csi-plugin/templates/controllerplugin-role.yaml
  charts/manila-csi-plugin/templates/controllerplugin-rolebinding.yaml
  charts/manila-csi-plugin/templates/controllerplugin-rules-clusterrole.yaml
  charts/manila-csi-plugin/templates/controllerplugin-service.yaml
  charts/manila-csi-plugin/templates/controllerplugin-serviceaccount.yaml
  charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/manila-csi-plugin/templates/csidriver.yaml
  charts/manila-csi-plugin/templates/nodeplugin-clusterrole.yaml
  charts/manila-csi-plugin/templates/nodeplugin-clusterrolebinding.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-rules-clusterrole.yaml
  charts/manila-csi-plugin/templates/nodeplugin-serviceaccount.yaml
  charts/manila-csi-plugin/values.yaml
  docs/using-manila-csi-plugin.md
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Add error handling for reading config
  pkg/cloudprovider/providers/openstack/openstack.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Add error handling for reading config (#1112)
  pkg/cloudprovider/providers/openstack/openstack.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

[cinder-csi-plugin] Align chart and manifests
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/values.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Cleanup old references in owners and docs.
  OWNERS
  docs/getting-started-provider-dev.md
Due: none

Check job
  cmd/k8s-keystone-auth/main.go
  cmd/openstack-cloud-controller-manager/main.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization

add OWNERS file for manila-csi (#1111)
  pkg/csi/manila/OWNERS
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

[cinder-csi-plugin] Align chart and manifests (#1107)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/values.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Cleanup old references in owners and docs. (#1113)
  OWNERS
  docs/getting-started-provider-dev.md
Due: none

Add test changes into zuul file
  .zuul.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Add test changes into zuul file (#1114)
  .zuul.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

refactor keepClientIP and useProxyProtocol (#1103)
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Adjust doc accoridng to doctoc tool
  docs/developers-csi-manila.md
  docs/expose-applications-using-loadbalancer-type-service.md
  docs/getting-started-provider-dev.md
  docs/migrate-to-ccm-with-csimigration.md
  docs/using-auth-data-synchronization.md
  docs/using-barbican-kms-plugin.md
  docs/using-cinder-csi-plugin.md
  docs/using-client-keystone-auth.md
  docs/using-keystone-webhook-authenticator-and-authorizer.md
  docs/using-magnum-auto-healer.md
  docs/using-manila-csi-plugin.md
  docs/using-octavia-ingress-controller.md
  docs/using-openstack-cloud-controller-manager.md
Due: none

WIP: Add e2e test for snapshot
  pkg/csi/cinder/utils.go
  tests/e2e/csi/cinder/cinder-testdriver.go
  tests/e2e/csi/cinder/csi-volumes.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder

support adding members to an existing pool
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

add docs for unmanaged-pool-id annotation
  docs/expose-applications-using-loadbalancer-type-service.md
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

[manila-csi-plugin] Fix nodeplugin volume
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[manila-csi-plugin] Fix nodeplugin volume (#1120)
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Add `auth-type` as input param
  pkg/cloudprovider/providers/openstack/openstack.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

make floating subnet optional
  docs/expose-applications-using-loadbalancer-type-service.md
  docs/using-openstack-cloud-controller-manager.md
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Add SECURITY.md
  SECURITY.md
Due: none

Fix `conversion from int to string yields a string of one rune` issues
  pkg/ingress/controller/openstack/neutron.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[manila-csi-plugin] allow to update volumesnapshotcontents/status
  charts/manila-csi-plugin/templates/controllerplugin-rules-clusterrole.yaml
  manifests/manila-csi-plugin/csi-controllerplugin-rbac.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Fix `conversion from int to string yields a string of one rune` issues (#1140)
  pkg/ingress/controller/openstack/neutron.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Remove compare between LB opts as it's useless
  pkg/cloudprovider/providers/openstack/openstack.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Adjust doc accoridng to doctoc tool (#1115)
  docs/developers-csi-manila.md
  docs/expose-applications-using-loadbalancer-type-service.md
  docs/getting-started-provider-dev.md
  docs/migrate-to-ccm-with-csimigration.md
  docs/using-auth-data-synchronization.md
  docs/using-barbican-kms-plugin.md
  docs/using-cinder-csi-plugin.md
  docs/using-client-keystone-auth.md
  docs/using-keystone-webhook-authenticator-and-authorizer.md
  docs/using-magnum-auto-healer.md
  docs/using-manila-csi-plugin.md
  docs/using-octavia-ingress-controller.md
  docs/using-openstack-cloud-controller-manager.md
Due: none

Path conditions:
  cloud-provider-openstack-unittest: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$, ^.*\.sh$
  cloud-provider-openstack-acceptance-test-lb-octavia: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, ^go.mod$, ^go.sum$, ^Makefile$) and (unless all of: docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-format: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$, ^.*\.sh$
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: (any of: ^cmd/k8s-keystone-auth/.*, ^pkg/identity/.*, ^go.mod$, ^go.sum$, ^Makefile$, tests/e2e/k8s-keystone-auth/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-csi-cinder: (any of: cmd/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, pkg/cloudprovider/providers/openstack/.*, test/.*, cmd/tests/.*, ^go.mod$, ^go.sum$, ^Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-e2e-test-csi-cinder: any of: ^cmd/cinder-csi-plugin/.*, ^pkg/csi/cinder/.*, ^pkg/util/.*, ^test/.*, ^cmd/tests/.*, ^go.mod$, ^go.sum$, ^Makefile$
  cloud-provider-openstack-acceptance-test-csi-manila: (any of: ^cmd/manila-csi-plugin/.*, ^examples/manila-csi-plugin/.*, ^pkg/csi/manila/.*, ^pkg/util/errors/.*, ^pkg/cloudprovider/providers/openstack/.*, ^pkg/share/manila/shareoptions/validator/.*, ^go.mod$, ^go.sum$, ^Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$, ^Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
