Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.22, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20

.zuul.yaml:

- project:
    cloud-provider-openstack-acceptance-test-keystone-authentication-authorization:
      jobs:
        - cloud-provider-openstack-acceptance-test-keystone-authentication-authorization:
            files:
              - cmd/k8s-keystone-auth/.*
              - pkg/identity/.*
              - go.mod$
              - go.sum$
              - tests/e2e/k8s-keystone-auth/.*
    cloud-provider-openstack-e2e-test-csi-cinder:
      jobs:
        - cloud-provider-openstack-e2e-test-csi-cinder:
            files:
              - cmd/cinder-csi-plugin/.*
              - manifests/cinder-csi-plugin/.*
              - pkg/csi/cinder/.*
              - tests/e2e/csi/cinder/.*
              - cmd/tests/.*
              - pkg/util/blockdevice/.*
              - pkg/util/mount/.*
              - go.mod$
              - go.sum$
    cloud-provider-openstack-sanity-test-csi-cinder:
      jobs:
        - cloud-provider-openstack-sanity-test-csi-cinder:
            files:
              - cmd/cinder-csi-plugin/.*
              - pkg/csi/cinder/.*
              - tests/sanity/cinder/.*
              - pkg/util/blockdevice/.*
              - pkg/util/mount/.*
              - go.mod$
              - go.sum$
    cloud-provider-openstack-multinode-csi-migration-test:
      jobs:
        - cloud-provider-openstack-multinode-csi-migration-test:
            files:
              - cmd/cinder-csi-plugin/.*
              - manifests/cinder-csi-plugin/.*
              - pkg/csi/cinder/.*
              - pkg/util/blockdevice/.*
              - pkg/util/mount/.*
              - go.mod$
              - go.sum$
    cloud-provider-openstack-acceptance-test-csi-manila:
      jobs:
        - cloud-provider-openstack-acceptance-test-csi-manila:
            files:
              - cmd/manila-csi-plugin/.*
              - examples/manila-csi-plugin/.*
              - pkg/csi/manila/.*
              - pkg/util/errors/.*
              - pkg/cloudprovider/providers/openstack/.*
              - pkg/share/manila/shareoptions/validator/.*
              - go.mod$
              - go.sum$
    cloud-provider-openstack-acceptance-test-e2e-conformance:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/openstack/.*
              - pkg/util/metadata/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.22:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.22:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/openstack/.*
              - pkg/util/metadata/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/openstack/.*
              - pkg/util/metadata/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/openstack/.*
              - pkg/util/metadata/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$

[WIP] Fix certificate verification issue when downloading devstack
  tests/playbooks/roles/install-devstack/tasks/main.yml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
Due: none

add install-k3s-bare-single role
  tests/playbooks/roles/install-k3s-bare-single/README.md
  tests/playbooks/roles/install-k3s-bare-single/defaults/main.yaml
  tests/playbooks/roles/install-k3s-bare-single/tasks/main.yaml
Due: none

README: add Prerequisites section
  tests/playbooks/roles/install-k3s-bare-single/README.md
Due: none

[WIP] Fix certificate verification issue when downloading devstack (#1668)
  tests/playbooks/roles/install-devstack/tasks/main.yml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
Due: none

fix syntax error
  tests/playbooks/roles/install-k3s-bare-single/tasks/main.yaml
Due: none

add Manila to local.conf.j2 template
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
Due: none

moved e2e entry points to separate dirs
  cmd/tests/cinder-csi-e2e-suite/cinder_csi_e2e_suite_test.go
  cmd/tests/manila-csi-e2e-suite/manila_csi_e2e_suite_test.go
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: cloud-provider-openstack-e2e-test-csi-cinder

enabled nova, neutron and glance services to satisfy install-k3s
  tests/playbooks/test-csi-manila-e2e.yaml
Due: none

add manila-csi-plugin e2e tests
  cmd/tests/manila_csi_e2e_suite_test.go
  tests/ci-csi-manila-e2e.sh
  tests/e2e/csi/manila/testdriver.go
  tests/e2e/csi/manila/testsuite.go
  tests/playbooks/roles/install-csi-manila/README.md
  tests/playbooks/roles/install-csi-manila/defaults/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/test-csi-manila-e2e.yaml
Due: cloud-provider-openstack-e2e-test-csi-cinder

add install-helm role
  tests/playbooks/roles/install-helm/tasks/main.yml
Due: none

fixed paths
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: none

changed git clone repo address for manila
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
Due: none

update setuptools
  tests/playbooks/roles/install-devstack/tasks/main.yml
Due: none

update setuptools
  tests/playbooks/roles/install-devstack/defaults/main.yaml
  tests/playbooks/roles/install-devstack/tasks/main.yml
Due: none

fixed collecting logs on failure
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: none

describe pods on failure
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: none

deploy occm as it is required by install-k3s
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: none

creating manila-csi secrets needs 'source openrc'
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: none

Update main.yml
  tests/playbooks/roles/install-devstack/tasks/main.yml
Due: none

[cinder-csi-plugin] Enable only required services
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: none

[CI] Add install-k3s-bare-single role (#1669)
  tests/playbooks/roles/install-k3s-bare-single/README.md
  tests/playbooks/roles/install-k3s-bare-single/defaults/main.yaml
  tests/playbooks/roles/install-k3s-bare-single/tasks/main.yaml
Due: none

[cinder-csi-plugin] Enable only required services (#1673)
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: none

[manila-csi-plugin] ControllerExpandVolume: fix bad key for deleting from pendingVolumes (#1667)
  pkg/csi/manila/controllerserver.go
Due: cloud-provider-openstack-acceptance-test-csi-manila

[manila-csi-plugin] Add e2e tests (#1656)
  cmd/tests/cinder-csi-e2e-suite/cinder_csi_e2e_suite_test.go
  cmd/tests/manila-csi-e2e-suite/manila_csi_e2e_suite_test.go
  tests/ci-csi-manila-e2e.sh
  tests/e2e/csi/manila/testdriver.go
  tests/e2e/csi/manila/testsuite.go
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/README.md
  tests/playbooks/roles/install-csi-manila/defaults/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/roles/install-devstack/templates/local.conf.j2
  tests/playbooks/roles/install-helm/tasks/main.yml
  tests/playbooks/test-csi-manila-e2e.yaml
Due: cloud-provider-openstack-e2e-test-csi-cinder

Add volume condition for controller
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

[manila-csi-plugin] ControllerExpandVolume: fix bad key for deleting from pendingVolumes (#1667) (#1675)
  pkg/csi/manila/controllerserver.go
Due: cloud-provider-openstack-acceptance-test-csi-manila

remove cloud-provider-openstack-acceptance-test-csi-manila job trigger
  .zuul.yaml
Due: none

remove cloud-provider-openstack-acceptance-test-csi-manila job trigger (#1682)
  .zuul.yaml
Due: none

return error early to avoid nil pointer usage
  pkg/client/client.go
Due: none

Update devstack branch to stable/xena (#1672)
  tests/playbooks/roles/install-devstack/defaults/main.yaml
Due: none

make ingress suffix configurable
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.22, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20

[Helm Chart][CI] Fix ct lint parameter
  .github/workflows/pr.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

[Helm Chart][CI] Fix ct lint parameter (#1691)
  .github/workflows/pr.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none
