Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

.zuul.yaml:

- project:
    cloud-provider-openstack-acceptance-test-keystone-authentication-authorization:
      jobs:
        - cloud-provider-openstack-acceptance-test-keystone-authentication-authorization:
            files:
              - cmd/k8s-keystone-auth/.*
              - pkg/identity/.*
              - go.mod$
              - go.sum$
              - Makefile$
              - tests/e2e/k8s-keystone-auth/.*
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-multinode-csi-migration-test:
      jobs:
        - cloud-provider-openstack-multinode-csi-migration-test:
            files:
              - cmd/cinder-csi-plugin/.*
              - manifests/cinder-csi-plugin/.*
              - pkg/csi/cinder/.*
              - pkg/util/.*
              - go.mod$
              - go.sum$
              - Makefile$
    cloud-provider-openstack-acceptance-test-e2e-conformance:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$

Add zizmor security scanner
  .github/workflows/zizmor.yaml
Due: none

Fix issues highlighted by zizmor
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
Due: none

feat(occm/lb): octavia prometheus listener's annotation
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/events.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
  pkg/util/openstack/loadbalancer.go
  pkg/util/util_test.go
  tests/e2e/cloudprovider/test-lb-service.sh
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[cinder-csi-plugin] Fix ControllerGetVolume multi-cloud iteration bug
  pkg/csi/cinder/controllerserver.go
Due: cloud-provider-openstack-multinode-csi-migration-test

[cinder-csi-plugin] Fix incorrect RPC name in ListSnapshots error message
  pkg/csi/cinder/controllerserver.go
Due: cloud-provider-openstack-multinode-csi-migration-test

[cinder-csi-plugin] Protect OsInstances global map with mutex
  pkg/csi/cinder/openstack/openstack.go
Due: cloud-provider-openstack-multinode-csi-migration-test

[cinder-csi-plugin] Fix ControllerGetVolume multi-cloud iteration bug (#3121)
  pkg/csi/cinder/controllerserver.go
Due: cloud-provider-openstack-multinode-csi-migration-test

[cinder-csi-plugin] Fix incorrect RPC name in ListSnapshots error message (#3122)
  pkg/csi/cinder/controllerserver.go
Due: cloud-provider-openstack-multinode-csi-migration-test

[cinder-csi-plugin] Protect OsInstances global map with mutex (#3123)
  pkg/csi/cinder/openstack/openstack.go
Due: cloud-provider-openstack-multinode-csi-migration-test

[manila-csi-plugin] Retry proxied probe on Unavailable
  pkg/csi/manila/driver.go
  pkg/csi/manila/driver_test.go
Due: none

[cinder-csi-plugin] Fix volume from snapshot AZ selection
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test

client: report caller line for OpenStack debug logs
  pkg/client/client.go
  pkg/client/client_test.go
Due: none

[occm] Add node-address-type annotation to control LB member IP selection
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_sg.go
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[cinder-csi-plugin] Wait for volume availability before attach
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: cloud-provider-openstack-multinode-csi-migration-test

Add gouthampacha as a reviewer
  OWNERS
Due: none

[manila-csi-plugin] Use GET-based share access rules API when available
  pkg/csi/manila/manilaclient/builder.go
  pkg/csi/manila/manilaclient/client.go
  pkg/csi/manila/manilaclient/client_test.go
  pkg/csi/manila/manilaclient/interface.go
  tests/sanity/manila/fakemanilaclient.go
Due: none

[manila-csi-plugin] Move inactive reviewers/approvers to emeritus
  pkg/csi/manila/OWNERS
Due: none

[manila-csi-plugin] Add staticVolume parameter to CephFS volume context
  pkg/csi/manila/shareadapters/cephfs.go
Due: none

[manila-csi-plugin] Remove rules from aggregated ClusterRoles to avoid SSA conflicts
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/templates/controllerplugin-clusterrole.yaml
  charts/manila-csi-plugin/templates/nodeplugin-clusterrole.yaml
Due: none

[manila-csi-plugin] Move inactive reviewers/approvers to emeritus (#3135)
  pkg/csi/manila/OWNERS
Due: none

[manila-csi-plugin] Wait for access rule to become active after granting
  pkg/csi/manila/manilaclient/client.go
  pkg/csi/manila/manilaclient/interface.go
  pkg/csi/manila/shareadapters/accessrights.go
  pkg/csi/manila/shareadapters/accessrights_test.go
  pkg/csi/manila/shareadapters/cephfs.go
  pkg/csi/manila/shareadapters/nfs.go
  tests/sanity/manila/fakemanilaclient.go
Due: none

[manila-csi-plugin] Allow shareAccessID and shareAccessIDs to coexist
  pkg/csi/manila/adapters_test.go
  pkg/csi/manila/options/shareoptions.go
  pkg/csi/manila/options/shareoptions_test.go
Due: none

[manila-csi-plugin] Restore --nodeid and --nodeaz as optional overrides
  cmd/manila-csi-plugin/main.go
  pkg/csi/manila/driver.go
  pkg/csi/manila/metadata_test.go
  tests/sanity/manila/sanity_test.go
Due: none

add mount for config drive and add search order flag
  cmd/manila-csi-plugin/main.go
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
Due: none

add docs and update helm chart
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/manila-csi-plugin/values.yaml
  docs/manila-csi-plugin/using-manila-csi-plugin.md
Due: none

bump Chart version
  charts/manila-csi-plugin/Chart.yaml
Due: none

fix: avoid nil backup dereference in CreateSnapshot
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack_mock.go
Due: cloud-provider-openstack-multinode-csi-migration-test

Add gouthampacha as a reviewer (#3133)
  OWNERS
Due: none

cinder csi: validate volume status and migration_status before attach
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/csi/cinder/openstack/openstack_volumes_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test

[manila-csi-plugin] Use GET method for listing share access rules
  pkg/csi/manila/manilaclient/client.go
Due: none

remove duplicate searchorder flag
  charts/manila-csi-plugin/values.yaml
Due: none

remove trail newline
  charts/manila-csi-plugin/values.yaml
Due: none

[manila-csi-plugin] Use GET method for listing share access rules (#3147)
  pkg/csi/manila/manilaclient/client.go
Due: none

[manila-csi-plugin] Allow shareAccessID and shareAccessIDs to coexist (#3132)
  pkg/csi/manila/adapters_test.go
  pkg/csi/manila/options/shareoptions.go
  pkg/csi/manila/options/shareoptions_test.go
Due: none

occm: add enable-lb-rename option, cover rename guard with tests
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_rename.go
  pkg/openstack/loadbalancer_rename_test.go
  pkg/openstack/openstack.go
  pkg/openstack/openstack_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

fix: avoid nil backup dereference in CreateSnapshot (#3143)
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack_mock.go
Due: cloud-provider-openstack-multinode-csi-migration-test

core: refactor lbaas util functions
  pkg/util/openstack/loadbalancer.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

code review
  pkg/util/openstack/loadbalancer.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Apply suggestion from @kayrus
  docs/manila-csi-plugin/using-manila-csi-plugin.md
Due: none

fix: return backup lookup errors when deleting snapshots
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test
