Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Path conditions:
  cloud-provider-openstack-unittest: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-lb-octavia: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-format: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-k8s-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-standalone-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-csi-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-flexvolume-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: ^pkg/cloudprovider/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13: (any of: ^pkg/cloudprovider/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14: (any of: ^pkg/cloudprovider/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15: (any of: ^pkg/cloudprovider/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)

updated the Helm chart with optional compat settings
  examples/manila-csi-plugin/helm-deployment/templates/controllerplugin-statefulset.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

fixed a go vet error
  pkg/csi/manila/options/compatibilityoptions.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

added capabilities pkg with GetManilaCapabilities()
  pkg/csi/manila/capabilities/manilacapabilities.go
  pkg/csi/manila/capabilities/util.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

parse compat settings from cmd args
  cmd/manila-csi-plugin/main.go
  pkg/csi/manila/driver.go
  pkg/csi/manila/sanity/sanity_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

updated manila client
  pkg/csi/manila/manilaclient/client.go
  pkg/csi/manila/manilaclient/interface.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

added base for compatibility layers
  pkg/csi/manila/compatibility/compatibility.go
  pkg/csi/manila/options/compatibilityoptions.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Gopkg.lock: updated gophercloud dependency
  Gopkg.lock
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

occm: Fix deleting internal service
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
  pkg/util/openstack/network.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Fix error when mounting /var/lib/kubelet/pods (#773)
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Roll back the microversion, when the resize was made (#786)
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Update share OWNERS file (#792)
  pkg/share/manila/OWNERS
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Barbican KMS: use persistent client (#788)
  pkg/kms/barbican/barbican.go
  pkg/kms/barbican/fake_barbican.go
  pkg/kms/server/server.go
  pkg/kms/server/server_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

added appendShareMetadata storage class option (#782)
  docs/using-manila-provisioner.md
  pkg/share/manila/share.go
  pkg/share/manila/shareoptions/shareoptions.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

occm: Fix deleting internal service (#797)
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
  pkg/util/openstack/network.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Add 1.16 conformance job
  .zuul.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Update octavia config
  docs/using-octavia-ingress-controller.md
Due: none

Update octavia config (#801)
  docs/using-octavia-ingress-controller.md
Due: none

Add 1.16 conformance job (#796)
  .zuul.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

[csi-manila] added a basis for compatibility layers (#736)
  Gopkg.lock
  cmd/manila-csi-plugin/main.go
  examples/manila-csi-plugin/helm-deployment/templates/controllerplugin-statefulset.yaml
  pkg/csi/manila/capabilities/manilacapabilities.go
  pkg/csi/manila/capabilities/util.go
  pkg/csi/manila/compatibility/compatibility.go
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/driver.go
  pkg/csi/manila/manilaclient/client.go
  pkg/csi/manila/manilaclient/interface.go
  pkg/csi/manila/nodeserver.go
  pkg/csi/manila/options/compatibilityoptions.go
  pkg/csi/manila/sanity/fakemanilaclient.go
  pkg/csi/manila/sanity/sanity_test.go
  pkg/csi/manila/util.go
  pkg/csi/manila/util/manila.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Auth: Ability to set insecure TLS auth without the custom CA
  pkg/cloudprovider/providers/openstack/openstack.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Update to kubernetes-1.17.0-alpha.1
  Gopkg.lock
  Gopkg.toml
  cmd/openstack-cloud-controller-manager/main.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

fix golint failures
  pkg/csi/cinder/mount/mount.go
  pkg/flexvolume/cinder_util.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Update to kubernetes-1.17.0-alpha.1 (#795)
  Gopkg.lock
  Gopkg.toml
  cmd/openstack-cloud-controller-manager/main.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

fix golint failures (#805)
  pkg/csi/cinder/mount/mount.go
  pkg/flexvolume/cinder_util.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

fix golint failures
  pkg/autohealing/healthcheck/healthcheck.go
  pkg/autohealing/healthcheck/plugin_endpoint.go
  pkg/autohealing/healthcheck/plugin_nodecondition.go
  pkg/cloudprovider/providers/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/server.go
  pkg/flexvolume/cinder/drivers/rbd.go
  pkg/flexvolume/metadata/metadata.go
  pkg/ingress/controller/controller.go
  pkg/share/manila/shareoptions/shareoptions.go
  pkg/util/metadata/metadata.go
  pkg/util/mount/mount.go
  pkg/volume/volume.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Auth: bring back identity v2 support
  pkg/cloudprovider/providers/openstack/openstack.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Skip tests, when AuthURL is not set
  pkg/cloudprovider/providers/openstack/openstack_routes_test.go
  pkg/cloudprovider/providers/openstack/openstack_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Fix wrong provisionor
  examples/cinder-csi-plugin/block/block.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

fix golint failures (#814)
  pkg/autohealing/healthcheck/healthcheck.go
  pkg/autohealing/healthcheck/plugin_endpoint.go
  pkg/autohealing/healthcheck/plugin_nodecondition.go
  pkg/cloudprovider/providers/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/server.go
  pkg/flexvolume/cinder/drivers/rbd.go
  pkg/flexvolume/metadata/metadata.go
  pkg/ingress/controller/controller.go
  pkg/share/manila/shareoptions/shareoptions.go
  pkg/util/metadata/metadata.go
  pkg/util/mount/mount.go
  pkg/volume/volume.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15
