Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

.zuul.yaml:

- project:
    cloud-provider-openstack-acceptance-test-keystone-authentication-authorization:
      jobs:
        - cloud-provider-openstack-acceptance-test-keystone-authentication-authorization:
            files:
              - cmd/k8s-keystone-auth/.*
              - pkg/identity/.*
              - go.mod$
              - go.sum$
              - Makefile$
              - tests/e2e/k8s-keystone-auth/.*
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-multinode-csi-migration-test:
      jobs:
        - cloud-provider-openstack-multinode-csi-migration-test:
            files:
              - cmd/cinder-csi-plugin/.*
              - manifests/cinder-csi-plugin/.*
              - pkg/csi/cinder/.*
              - pkg/util/.*
              - go.mod$
              - go.sum$
              - Makefile$
    cloud-provider-openstack-acceptance-test-e2e-conformance:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$

test: nodeAddressForLB()
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

test : getMemberSubnetID
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

mod : removed the unused service config argument and modified the test to fit new function modification
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

test: nodeAddressForLB() (#2391)
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

test : getMemberSubnetID (#2398)
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

test-buildbatchupdatememberopts
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

test-buildbatchupdatememberopts (#2431)
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Improve logging for boolean Service Annotations
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[1.28.1] 1.28.1 release
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  hack/bump-release.sh
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

[1.27.3] 1.27.3 release
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  hack/bump-release.sh
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

update kubernetes/kubernetes to 1.27.6 in go.mod
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[1.26.4] 1.26.4 release
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/barbican-kms-plugin/using-barbican-kms-plugin.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  hack/bump-release.sh
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

update kubernetes/kubernetes to 1.26.9 in go.mod
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[occm] add a new `hack/bump-release.sh` script
  hack/bump-release.sh
Due: none

test: LbaasV2 method buildPoolCreateOpt
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

test: LbaasV2 method getSubnetID
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

update kubernetes/kubernetes to v1.28.3 in go.mod
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[occm] update kubernetes/kubernetes to v1.29.0-alpha.2 in go.mod
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

.: bump golang.org/x/net to v0.17.0
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Update release-procedure.md
  release-procedure.md
Due: none

tests: Remove support for preinstalled images
  tests/scripts/create-gce-vm.sh
Due: none

Update k3s and test image to ubuntu 22 (#2108)
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
  tests/playbooks/test-csi-manila-e2e.yaml
  tests/playbooks/test-occm-e2e.yaml
  tests/scripts/create-gce-vm.sh
Due: none

Fix tests
  Makefile
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/sanity/manila/fakecsiclient.go
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Fix Manila tests
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/sanity/manila/fakecsiclient.go
Due: none

Set git version variable during the build (#2252)
  Makefile
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Use dl.k8s.io instead of hardcoded GCS URIs (#2240)
  tests/playbooks/roles/install-k3s/tasks/main.yaml
Due: none

Add Dockerfile
  Dockerfile
Due: none

[1.28.1] 1.28.1 release (#2426)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  go.mod
  go.sum
  hack/bump-release.sh
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[occm] add a new `hack/bump-release.sh` script (#2441)
  hack/bump-release.sh
  release-procedure.md
Due: none

Update index.yaml
  index.yaml
Due: none

[1.27.3] 1.27.3 release (#2427)
  Makefile
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  go.mod
  go.sum
  hack/bump-release.sh
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/roles/install-k3s/tasks/main.yaml
  tests/sanity/manila/fakecsiclient.go
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[1.26.4] 1.26.4 release (#2428)
  Dockerfile
  Makefile
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/barbican-kms-plugin/using-barbican-kms-plugin.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  go.mod
  go.sum
  hack/bump-release.sh
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/roles/install-k3s/tasks/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
  tests/playbooks/test-csi-manila-e2e.yaml
  tests/playbooks/test-occm-e2e.yaml
  tests/sanity/manila/fakecsiclient.go
  tests/scripts/create-gce-vm.sh
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[occm] update kubernetes/kubernetes to v1.29.0-alpha.2 in go.mod (#2442)
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Switch to a new CI
  .github/workflows/release-cpo.yaml
  cloudbuild.yaml
Due: none

Use standard service account name in OCCM helm chart (#2332)
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrolebinding.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/templates/serviceaccount.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

Test get subnet (#2411)
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19
