Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Support specifying a sort order for node addresses (#2029)
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/instances.go
  pkg/openstack/instances_test.go
  pkg/openstack/openstack.go
  pkg/openstack/openstack_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Update gofmt for various files
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/csi/manila/validator/validator.go
  pkg/ingress/controller/controller.go
  pkg/kms/barbican/barbican.go
  pkg/openstack/loadbalancer.go
  pkg/util/errors/errors.go
  pkg/util/mount/mount.go
  tests/sanity/cinder/fakemount.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Support specifying a sort order for node addresses (#2030)
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/instances.go
  pkg/openstack/instances_test.go
  pkg/openstack/openstack.go
  pkg/openstack/openstack_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Automated cherry pick of #1946: Support specifying a sort order for node addresses (#2031)
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
  pkg/csi/cinder/openstack/openstack_volumes.go
  pkg/csi/manila/validator/validator.go
  pkg/ingress/controller/controller.go
  pkg/kms/barbican/barbican.go
  pkg/openstack/instances.go
  pkg/openstack/instances_test.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
  pkg/openstack/openstack_test.go
  pkg/util/errors/errors.go
  pkg/util/mount/mount.go
  tests/sanity/cinder/fakemount.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[occm] Remove unneeded security rules during Update
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Allow deleting LBs in ERROR status
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

LB: Stop recreating monitors if no-HTTP is forced
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Allow deleting LBs in ERROR status (#2037)
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

LB: Stop recreating monitors if no-HTTP is forced (#2040)
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

skip test pvs (temply)
  go.mod
  go.sum
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

add-new-fut
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/openstack/openstack.go
Due: cloud-provider-openstack-multinode-csi-migration-test

skip test pvs (temply) (#2027)
  go.mod
  go.sum
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Add log v5 for CI test
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

update openstack version to zed
  tests/playbooks/roles/install-devstack/defaults/main.yaml
Due: none

upgdate gophercloud to 1.1.0
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

update openstack version to zed (#2044)
  tests/playbooks/roles/install-devstack/defaults/main.yaml
Due: none

upgdate gophercloud to 1.1.0 (#2045)
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

pin k8s keystone auth version in 1.25
  charts/cinder-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  examples/webhook/keystone-deployment.yaml
Due: none

pin k8s keystone auth version in 1.25 (#2048)
  charts/cinder-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  examples/webhook/keystone-deployment.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

fix version conflict at cordon and uncordon worker node and waiting for services after reboot
  pkg/autohealing/controller/controller.go
Due: none

waiting for services after reboot
  pkg/autohealing/cloudprovider/openstack/provider.go
Due: none

fix: remove leftover from bundled snapshot controller
  charts/cinder-csi-plugin/values.yaml
Due: none

sercret disabling capabilities
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

Updating csi-driver-manila images to be consistent with ART Reconciling with https://github.com/openshift/ocp-build-data/tree/ce241462943e940cd71984f7984819c7a551f5e1/images/csi-driver-manila.yml
  .ci-operator.yaml
  images/manila-csi-plugin/Dockerfile
Due: none

fix: remove leftover from bundled snapshot controller (#2050)
  charts/cinder-csi-plugin/values.yaml
Due: none

Add log v5 for CI test (#2028)
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

Remove neutron lbaas v1 version code (#1882)
  README.md
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  manifests/controller-manager/cloud-config
  pkg/client/service.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

update CSI cinder dependency container version (currency)
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/values.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

update CSI cinder dependency container version (currency) (#2024)
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/values.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

v1.26 adoption
  Makefile
  go.mod
  go.sum
  pkg/identity/keystone/authorizer.go
  pkg/identity/keystone/keystone.go
  pkg/ingress/controller/controller.go
  pkg/ingress/controller/openstack/neutron.go
  pkg/ingress/controller/openstack/octavia.go
  pkg/ingress/utils/utils.go
  pkg/kms/client/client.go
  pkg/kms/server/server.go
  pkg/kms/server/server_test.go
  pkg/openstack/loadbalancer.go
  pkg/util/util.go
  tests/e2e/csi/manila/testdriver.go
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

use newer base image for CSI cinder (#1994)
  cluster/images/cinder-csi-plugin/Dockerfile
  cluster/images/cinder-csi-plugin/Dockerfile.build
Due: none

v1.26 adoption (#2052)
  Makefile
  go.mod
  go.sum
  pkg/identity/keystone/authorizer.go
  pkg/identity/keystone/keystone.go
  pkg/ingress/controller/controller.go
  pkg/ingress/controller/openstack/neutron.go
  pkg/ingress/controller/openstack/octavia.go
  pkg/ingress/utils/utils.go
  pkg/kms/client/client.go
  pkg/kms/server/server.go
  pkg/kms/server/server_test.go
  pkg/openstack/loadbalancer.go
  pkg/util/util.go
  tests/e2e/csi/manila/testdriver.go
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

TEST manila
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: none

Add one line log when obtain instance ID failed
  pkg/openstack/instances.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Update dependencies
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

force ginkgo to older v2.4.0
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Add one line log when obtain instance ID failed (#2063)
  pkg/openstack/instances.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Path conditions:
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: (any of: cmd/k8s-keystone-auth/.*, pkg/identity/.*, go.mod$, go.sum$, Makefile$, tests/e2e/k8s-keystone-auth/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-multinode-csi-migration-test: any of: cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, go.mod$, go.sum$, Makefile$
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/openstack/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
