Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Fix typo in header (#1075)
  docs/using-cinder-csi-plugin.md
Due: none

Remove trailing whitespace (#1076)
  charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  docs/using-cinder-csi-plugin.md
  docs/using-openstack-cloud-controller-manager.md
  examples/cinder-csi-plugin/inline/inline-example.yaml
  examples/cinder-csi-plugin/nginx.yaml
  examples/cinder-csi-plugin/resize/example.yaml
  examples/cinder-csi-plugin/snapshot/snapshotrestore.yaml
  examples/loadbalancers/README.MD
  examples/manila-csi-plugin/README.md
  examples/manila-csi-plugin/helm-deployment/templates/nodeplugin-clusterrolebinding.yaml
  examples/manila-csi-plugin/nfs/dynamic-provisioning/storageclass.yaml
  examples/manila-csi-plugin/nfs/topology-aware/storageclass.yaml
  examples/mysql-cinder-pd/mysql.yaml
  manifests/barbican-kms/encryption-config.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin-rbac.yaml
  release-procedure.md
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

Update debian-base image
  .zuul.yaml
  cluster/images/cinder-csi-plugin/Dockerfile
  cluster/images/cinder-csi-plugin/Dockerfile.build
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Fixed a typo in `using-openstack-cloud-controller-manager.md`
  docs/using-openstack-cloud-controller-manager.md
Due: none

Fixed typo in `using-openstack-cloud-controller-manager.md`
  docs/using-openstack-cloud-controller-manager.md
Due: none

Add minimalistic CCM skeleton code and remove code that we might not need
  Dockerfile
  cmd/openstack-cloud-controller-manager/main.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format

Add newline in the end of file
  cmd/openstack-cloud-controller-manager/main.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format

Run tests when docker file is updated
  .zuul.yaml
  cluster/images/cinder-csi-plugin/Dockerfile
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Fixed typo in `using-openstack-cloud-controller-manager.md` (#1079)
  docs/using-openstack-cloud-controller-manager.md
Due: none

Update debian-base image (#1077)
  .zuul.yaml
  cluster/images/cinder-csi-plugin/Dockerfile
  cluster/images/cinder-csi-plugin/Dockerfile.build
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Add ability to configure member subnet id
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Fix typo in OIC code
  pkg/ingress/controller/controller.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Update using-auth-data-synchronization.md
  docs/using-auth-data-synchronization.md
Due: none

Update sync.go
  pkg/identity/keystone/sync.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization

Update sync_test.yaml
  pkg/identity/keystone/sync_test.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization

Fix typo in OIC code (#1092)
  pkg/ingress/controller/controller.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

update doc to link to docker setup
  docs/getting-started-provider-dev.md
Due: none

update doc to link to docker setup (#1097)
  docs/getting-started-provider-dev.md
Due: none

[cinder-csi-plugin] Refactor metadata
  cmd/cinder-csi-plugin/main.go
  go.mod
  go.sum
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_instances.go
  pkg/csi/cinder/openstack/openstack_metadata.go
  pkg/csi/cinder/utils.go
  pkg/util/metadata/metadata.go
  pkg/util/metadata/metadata_mock.go
  pkg/util/mount/mount.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Add error message in RegisterCloudProvider()
  pkg/cloudprovider/providers/openstack/openstack.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Upgrade klog to v2.1.0
  go.mod
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

DNM: test klog 2.1
  go.mod
  go.sum
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Update team members
  OWNERS_ALIASES
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Add reviewers to OWNERS
  OWNERS
  OWNERS_ALIASES
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Add error message in RegisterCloudProvider() (#1099)
  pkg/cloudprovider/providers/openstack/openstack.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

improve floating IP logic
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

refactor keepClientIP and useProxyProtocol
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Add serviceName to controllerplugin-statefulset.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

add headless service
  charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[cinder-csi-plugin] Add serviceName in statefulset
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-service.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Add serviceName to cinder-csi-plugin/templates/controllerplugin-statefulset.yaml (#1105)
  charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

check floating subnet belongs to the floating network
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17

Move manila-csi-plugin to charts dir
  charts/manila-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/templates/_helpers.tpl
  charts/manila-csi-plugin/templates/controllerplugin-clusterrole.yaml
  charts/manila-csi-plugin/templates/controllerplugin-clusterrolebinding.yaml
  charts/manila-csi-plugin/templates/controllerplugin-role.yaml
  charts/manila-csi-plugin/templates/controllerplugin-rolebinding.yaml
  charts/manila-csi-plugin/templates/controllerplugin-rules-clusterrole.yaml
  charts/manila-csi-plugin/templates/controllerplugin-service.yaml
  charts/manila-csi-plugin/templates/controllerplugin-serviceaccount.yaml
  charts/manila-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/manila-csi-plugin/templates/csidriver.yaml
  charts/manila-csi-plugin/templates/nodeplugin-clusterrole.yaml
  charts/manila-csi-plugin/templates/nodeplugin-clusterrolebinding.yaml
  charts/manila-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/manila-csi-plugin/templates/nodeplugin-rules-clusterrole.yaml
  charts/manila-csi-plugin/templates/nodeplugin-serviceaccount.yaml
  charts/manila-csi-plugin/values.yaml
  docs/using-manila-csi-plugin.md
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Path conditions:
  cloud-provider-openstack-unittest: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$, ^.*\.sh$
  cloud-provider-openstack-acceptance-test-lb-octavia: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, ^go.mod$, ^go.sum$, ^Makefile$) and (unless all of: docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-format: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$, ^.*\.sh$
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: (any of: ^cmd/k8s-keystone-auth/.*, ^pkg/identity/.*, ^go.mod$, ^go.sum$, ^Makefile$, tests/e2e/k8s-keystone-auth/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-csi-cinder: (any of: cmd/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, pkg/cloudprovider/providers/openstack/.*, test/.*, cmd/tests/.*, ^go.mod$, ^go.sum$, ^Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-e2e-test-csi-cinder: any of: ^cmd/cinder-csi-plugin/.*, ^pkg/csi/cinder/.*, ^pkg/util/.*, ^test/.*, ^cmd/tests/.*, ^go.mod$, ^go.sum$, ^Makefile$
  cloud-provider-openstack-acceptance-test-csi-manila: (any of: ^cmd/manila-csi-plugin/.*, ^examples/manila-csi-plugin/.*, ^pkg/csi/manila/.*, ^pkg/util/errors/.*, ^pkg/cloudprovider/providers/openstack/.*, ^pkg/share/manila/shareoptions/validator/.*, ^go.mod$, ^go.sum$, ^Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$, ^Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17: (any of: ^pkg/cloudprovider/.*, ^go.mod$, ^go.sum$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
