Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18

Path conditions:
  cloud-provider-openstack-unittest: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$, ^.*\.sh$
  cloud-provider-openstack-acceptance-test-lb-octavia: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-format: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$, ^.*\.sh$
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: (any of: cmd/k8s-keystone-auth/.*, pkg/identity/.*, go.mod$, go.sum$, Makefile$, tests/e2e/k8s-keystone-auth/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-csi-cinder: (any of: cluster/images/cinder-csi-plugin/.*, cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, pkg/cloudprovider/providers/openstack/.*, test/.*, cmd/tests/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-e2e-test-csi-cinder: (any of: cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, tests/e2e/csi/cinder/.*, cmd/tests/.*, go.mod$, go.sum$, Makefile$) and (unless all of: docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$)
  cloud-provider-openstack-sanity-test-csi-cinder: (any of: cmd/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, tests/sanity/cinder/.*, go.mod$, go.sum$, Makefile$) and (unless all of: docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$)
  cloud-provider-openstack-multinode-csi-migration-test: any of: cmd/cinder-csi-plugin/.*, manifests/cinder-csi-plugin/.*, pkg/csi/cinder/.*, pkg/util/.*, go.mod$, go.sum$, Makefile$, .zuul.yaml$
  cloud-provider-openstack-acceptance-test-csi-manila: (any of: cmd/manila-csi-plugin/.*, examples/manila-csi-plugin/.*, pkg/csi/manila/.*, pkg/util/errors/.*, pkg/cloudprovider/providers/openstack/.*, pkg/share/manila/shareoptions/validator/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18: (any of: cmd/openstack-cloud-controller-manager/.*, pkg/cloudprovider/.*, pkg/util/.*, tests/e2e/cloudprovider/.*, go.mod$, go.sum$, Makefile$) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)

[occm] Use CI job cloud-provider-openstack-test-occm
  .zuul.yaml
  tests/e2e/cloudprovider/test-lb-service.sh
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18

[cinder-csi-plugin] add optional priorityClassName for CSI components (#1561)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  charts/cinder-csi-plugin/templates/snapshot-controller-statefulset.yaml
  charts/cinder-csi-plugin/values.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Fix duplicated repair action (#1530)
  pkg/autohealing/cloudprovider/openstack/provider.go
  pkg/autohealing/config/config.go
  pkg/autohealing/controller/controller.go
  pkg/autohealing/healthcheck/healthcheck.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[doc] update keystone auth (#1547)
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
Due: none

update doc to make add cert clearer
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

[occm] Use CI job cloud-provider-openstack-test-occm (#1558)
  .zuul.yaml
  tests/e2e/cloudprovider/test-lb-service.sh
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18

Add build for client-keystone-auth (#1553)
  Makefile
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18

Move RBAC to manifests folder
  cluster/addons/storage-class/openstack/default.yaml
  manifests/controller-manager/cloud-controller-manager-role-bindings.yaml
  manifests/controller-manager/cloud-controller-manager-roles.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

update doc to make add cert clearer (#1551)
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

Move RBAC to manifests folder (#1431)
  cluster/addons/storage-class/openstack/default.yaml
  manifests/controller-manager/cloud-controller-manager-role-bindings.yaml
  manifests/controller-manager/cloud-controller-manager-roles.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

[DNM][OCCM] Add new job for e2e conformance test (#1550)
  .zuul.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-multinode-csi-migration-test

bumped snapshot.storage.k8s.io API to v1
  examples/manila-csi-plugin/nfs/snapshot/snapshotclass.yaml
  examples/manila-csi-plugin/nfs/snapshot/snapshotcreate.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

update doc, moving CCM to manifests/
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
Due: none

update doc, moving CCM to manifests/ (#1567)
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
Due: none

update doc to reflect snapshot version
  docs/cinder-csi-plugin/features.md
Due: none

fix the words to correct ones
  cmd/cinder-csi-plugin/main.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

Update snapshots examples to start using v1 API (#1501)
  examples/cinder-csi-plugin/snapshot/example.yaml
  examples/cinder-csi-plugin/snapshot/snapshotcreate.yaml
  examples/manila-csi-plugin/nfs/snapshot/snapshotclass.yaml
  examples/manila-csi-plugin/nfs/snapshot/snapshotcreate.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-manila

fix the words to correct ones (#1569)
  cmd/cinder-csi-plugin/main.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

update doc to reflect snapshot version (#1568)
  docs/cinder-csi-plugin/features.md
Due: none

[cinder-csi-plugin] Deprecate nodeID flag
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  cmd/cinder-csi-plugin/main.go
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
  pkg/csi/cinder/identityserver_test.go
  pkg/csi/cinder/nodeserver_test.go
  tests/sanity/cinder/sanity_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

[cinder-csi-plugin] Deprecate nodeID flag (#1565)
  charts/cinder-csi-plugin/Chart.yaml
  charts/cinder-csi-plugin/templates/controllerplugin-statefulset.yaml
  charts/cinder-csi-plugin/templates/nodeplugin-daemonset.yaml
  cmd/cinder-csi-plugin/main.go
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
  pkg/csi/cinder/identityserver_test.go
  pkg/csi/cinder/nodeserver_test.go
  tests/sanity/cinder/sanity_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

[cinder-csi-plugin] Allow multiple config files (#1476)
  cmd/cinder-csi-plugin/main.go
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

update csi-test from 3.1.0 to 4.2.0 (#1496)
  go.mod
  go.sum
  pkg/csi/cinder/nodeserver.go
  pkg/util/mount/mount.go
  pkg/util/mount/mount_mock.go
  tests/sanity/cinder/fakemount.go
  tests/sanity/cinder/sanity_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-csi-manila, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.16, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.17, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.18

Add controller get volume
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/driver.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-e2e-test-csi-cinder, cloud-provider-openstack-sanity-test-csi-cinder, cloud-provider-openstack-multinode-csi-migration-test

[cinder-csi-plugin] update doc on deprecated params
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
Due: none

Add support of trunk ports
  pkg/openstack/instances.go
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
  pkg/openstack/routes.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format

Remove Fedosin from Owners
  OWNERS_ALIASES
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-format
