Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

.zuul.yaml:

- project:
    cloud-provider-openstack-acceptance-test-keystone-authentication-authorization:
      jobs:
        - cloud-provider-openstack-acceptance-test-keystone-authentication-authorization:
            files:
              - cmd/k8s-keystone-auth/.*
              - pkg/identity/.*
              - go.mod$
              - go.sum$
              - Makefile$
              - tests/e2e/k8s-keystone-auth/.*
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-multinode-csi-migration-test:
      jobs:
        - cloud-provider-openstack-multinode-csi-migration-test:
            files:
              - cmd/cinder-csi-plugin/.*
              - manifests/cinder-csi-plugin/.*
              - pkg/csi/cinder/.*
              - pkg/util/.*
              - go.mod$
              - go.sum$
              - Makefile$
    cloud-provider-openstack-acceptance-test-e2e-conformance:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$

Documentation more clear, and remove useless code
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  pkg/ingress/controller/controller.go
Due: none

add condition to avoid useless updates of allowed_cidrs
  pkg/ingress/controller/openstack/octavia.go
Due: none

OWNERS: Update ShiftStack members
  OWNERS_ALIASES
Due: none

remove unused code
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

doc: from k8s_ing to kube_ingress in doc
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
Due: none

[cinder-csi-plugin] Bump driver version to 2.0.0
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test

Update log of delete resource to provide more info
  pkg/ingress/controller/controller.go
Due: none

Update log of delete resource to provide more info (#1727)
  pkg/ingress/controller/controller.go
Due: none

update alpine base images
  cluster/images/barbican-kms-plugin/Dockerfile
  cluster/images/barbican-kms-plugin/Dockerfile.build
  cluster/images/k8s-keystone-auth/Dockerfile
  cluster/images/k8s-keystone-auth/Dockerfile.build
  cluster/images/magnum-auto-healer/Dockerfile
  cluster/images/magnum-auto-healer/Dockerfile.build
  cluster/images/manila-csi-plugin/Dockerfile
  cluster/images/manila-csi-plugin/Dockerfile.build
  cluster/images/octavia-ingress-controller/Dockerfile
  cluster/images/octavia-ingress-controller/Dockerfile.build
  cluster/images/openstack-cloud-controller-manager/Dockerfile
  cluster/images/openstack-cloud-controller-manager/Dockerfile.build
Due: none

Migrate cloud-provider-openstack resourcelock to configmapsleases
  pkg/autohealing/controller/controller.go
Due: none

[manila-csi-plugin] Add NodeGetVolumeStats
  pkg/csi/manila/csiclient/client.go
  pkg/csi/manila/csiclient/interface.go
  pkg/csi/manila/nodeserver.go
  tests/sanity/manila/fakecsiclient.go
Due: none

doc: from k8s_ing to kube_ingress in doc (#1725)
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
Due: none

update alpine base images (#1729)
  cluster/images/barbican-kms-plugin/Dockerfile
  cluster/images/barbican-kms-plugin/Dockerfile.build
  cluster/images/k8s-keystone-auth/Dockerfile
  cluster/images/k8s-keystone-auth/Dockerfile.build
  cluster/images/magnum-auto-healer/Dockerfile
  cluster/images/magnum-auto-healer/Dockerfile.build
  cluster/images/manila-csi-plugin/Dockerfile
  cluster/images/manila-csi-plugin/Dockerfile.build
  cluster/images/octavia-ingress-controller/Dockerfile
  cluster/images/octavia-ingress-controller/Dockerfile.build
  cluster/images/openstack-cloud-controller-manager/Dockerfile
  cluster/images/openstack-cloud-controller-manager/Dockerfile.build
Due: none

remove unused code (#1719)
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Migrate cloud-provider-openstack resourcelock to configmapsleases (#1733)
  pkg/autohealing/controller/controller.go
Due: none

[octavia-ingress-controller] support for whitelist-source-range annotation (#1704)
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  pkg/ingress/controller/controller.go
  pkg/ingress/controller/openstack/octavia.go
Due: none

update label from master to excludeLB
  pkg/ingress/controller/controller.go
Due: none

Add tip for single master node LB creation
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
Due: none

Add tip for single master node LB creation (#1723)
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
Due: none

[cinder-csi-plugin] Bump driver version to 2.0.0 (#1726)
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test

not use compute az when ignore-volume-az=true is set
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test

add reference from ignore_volume_az to cross_az_attach in doc
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
Due: none

add reference from ignore_volume_az to cross_az_attach in doc (#1740)
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
Due: none

[cinder-csi-plugin] add clusterID Helm value
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

update to cli.Run()
  cmd/barbican-kms-plugin/main.go
  cmd/cinder-csi-plugin/main.go
  cmd/client-keystone-auth/main.go
  cmd/k8s-keystone-auth/main.go
  cmd/manila-csi-plugin/main.go
  pkg/autohealing/cmd/root.go
  pkg/ingress/cmd/root.go
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test

remove limitation from docs
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
Due: none

support for externalTrafficPolicy local
  pkg/openstack/loadbalancer.go
  pkg/util/openstack/loadbalancer.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

address feedback
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Add some note that health monitors are mandatory for externalTrafficPolicy: Local
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
Due: none

[cinder-csi-plugin] add clusterID Helm value (#1741)
  charts/cinder-csi-plugin/templates/controllerplugin-deployment.yaml
  charts/cinder-csi-plugin/values.yaml
Due: none

update kubernetes dependency to v1.23 (#1716)
  cmd/barbican-kms-plugin/main.go
  cmd/cinder-csi-plugin/main.go
  cmd/client-keystone-auth/main.go
  cmd/k8s-keystone-auth/main.go
  cmd/manila-csi-plugin/main.go
  go.mod
  go.sum
  pkg/autohealing/cmd/root.go
  pkg/ingress/cmd/root.go
  tests/playbooks/roles/install-golang/defaults/main.yml
  tests/playbooks/test-csi-cinder-e2e.yaml
  tests/playbooks/test-csi-manila-e2e.yaml
  tests/playbooks/test-occm-e2e.yaml
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

update label from master to excludeLB (#1728)
  pkg/ingress/controller/controller.go
Due: none

[manila-csi-plugin] Add NodeGetVolumeStats (#1737)
  pkg/csi/manila/csiclient/client.go
  pkg/csi/manila/csiclient/interface.go
  pkg/csi/manila/nodeserver.go
  tests/sanity/manila/fakecsiclient.go
Due: none

Add UT for create volumes with volume type and az
  pkg/csi/cinder/controllerserver_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test

[oocm] support for externalTrafficPolicy: Local (#1720)
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/openstack/loadbalancer.go
  pkg/util/openstack/loadbalancer.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[All] Update docker image tag and Chart version for release v1.23.0
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/barbican-kms-plugin/using-barbican-kms-plugin.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

[All] Update docker image tag and Chart version for release v1.23.0 (#1743)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/barbican-kms-plugin/using-barbican-kms-plugin.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

Update index.yaml
  index.yaml
Due: none

[cinder-csi-plugin] Fix the chart version for release v1.23.0
  charts/cinder-csi-plugin/Chart.yaml
Due: none

[helm charts] Make the chart versions consistent with release-1.23
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: none
