Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Path conditions:
  cloud-provider-openstack-unittest: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-lb-octavia: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-format: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-keystone-authentication-authorization: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-k8s-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-standalone-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-csi-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-flexvolume-cinder: unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$
  cloud-provider-openstack-acceptance-test-e2e-conformance: (any of: ^pkg/cloudprovider/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13: (any of: ^pkg/cloudprovider/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14: (any of: ^pkg/cloudprovider/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)
  cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15: (any of: ^pkg/cloudprovider/.*) and (unless all of: ^docs/.*$, ^.*\.md$, ^OWNERS$, ^SECURITY_CONTACTS$, ^.gitignore$)

Update compatibility matrix for cinder CSI
  docs/using-cinder-csi-plugin.md
Due: none

Update k/k v1.16
  Gopkg.lock
  Gopkg.toml
  pkg/csi/cinder/mount/mount.go
  pkg/csi/cinder/mount/mount_mock.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/sanity/fakemount.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Update using-cinder-csi-plugin.md
  docs/using-cinder-csi-plugin.md
Due: none

Fix error when mounting /var/lib/kubelet/pods
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Add variable export in cloud controller doc
  docs/using-controller-manager-with-kubeadm.md
Due: none

Update k/k v1.16 (#769)
  Gopkg.lock
  Gopkg.toml
  pkg/csi/cinder/mount/mount.go
  pkg/csi/cinder/mount/mount_mock.go
  pkg/csi/cinder/nodeserver.go
  pkg/csi/cinder/sanity/fakemount.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Bump cinder CSI driver version to 1.1.0 (#767)
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Update compatibility matrix for cinder CSI (#768)
  docs/using-cinder-csi-plugin.md
Due: none

Add variable export in cloud controller doc (#774)
  docs/using-controller-manager-with-kubeadm.md
Due: none

Update sidecar image versions (#766)
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

openstack-cloud-controller-manager: Support 'loadBalancerSourceRanges' for Service
  Gopkg.lock
  pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
  pkg/util/openstack/loadbalancer.go
  pkg/util/util.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Update docker image version
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  manifests/provisioner/deployment.yaml
  manifests/webhook/k8s-keystone-auth-pod.yaml
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Fix closing of dirs in doSafeMakeDir
  pkg/util/mount/mount_linux.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

small typo fix
  README.md
Due: none

occm: Add doc for loadBalancerSourceRanges support
  docs/expose-applications-using-loadbalancer-type-service.md
Due: none

Add OWNERS for manila CSI driver
  pkg/share/manila/OWNERS
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Fix closing of dirs in doSafeMakeDir (#776)
  pkg/util/mount/mount_linux.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

occm: Add doc for loadBalancerSourceRanges support (#780)
  docs/expose-applications-using-loadbalancer-type-service.md
Due: none

Deprecate Standalone cinder
  .zuul.yaml
  README.md
  docs/using-cinder-standalone-provisioner.md
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Deprecate Standalone cinder (#785)
  .zuul.yaml
  README.md
  docs/using-cinder-standalone-provisioner.md
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Auth: add endpoint type parameter support
  docs/provider-configuration.md
  pkg/autohealing/cloudprovider/register/register.go
  pkg/cloudprovider/providers/openstack/openstack.go
  pkg/cloudprovider/providers/openstack/openstack_client.go
  pkg/cloudprovider/providers/openstack/openstack_test.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/manila/manilaclient/builder.go
  pkg/flexvolume/cinder_client.go
  pkg/ingress/controller/openstack/client.go
  pkg/kms/barbican/barbican.go
  pkg/share/manila/client.go
  pkg/volume/cinder/volumeservice/connection.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.13, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.14, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.15

Barbican KMS: use persistent client
  pkg/kms/barbican/barbican.go
  pkg/kms/barbican/fake_barbican.go
  pkg/kms/server/server.go
  pkg/kms/server/server_test.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Roll back the microversion, when the resize was made
  pkg/csi/cinder/openstack/openstack_volumes.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Add OWNERS for manila CSI driver (#783)
  pkg/share/manila/OWNERS
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

Update share OWNERS file
  pkg/share/manila/OWNERS
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

added appendShareMetadata storage class option
  docs/using-manila-provisioner.md
  pkg/share/manila/share.go
  pkg/share/manila/shareoptions/shareoptions.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

updated fake manila client
  pkg/csi/manila/sanity/fakemanilaclient.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

try to find compat layer for snapshot volume source
  pkg/csi/manila/controllerserver.go
  pkg/csi/manila/util.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder

added util package to share helper functions between packages
  pkg/csi/manila/nodeserver.go
  pkg/csi/manila/util/manila.go
Due: cloud-provider-openstack-unittest, cloud-provider-openstack-acceptance-test-lb-octavia, cloud-provider-openstack-format, cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-acceptance-test-k8s-cinder, cloud-provider-openstack-acceptance-test-standalone-cinder, cloud-provider-openstack-acceptance-test-csi-cinder, cloud-provider-openstack-acceptance-test-flexvolume-cinder
