Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

.zuul.yaml:

- project:
    cloud-provider-openstack-acceptance-test-keystone-authentication-authorization:
      jobs:
        - cloud-provider-openstack-acceptance-test-keystone-authentication-authorization:
            files:
              - cmd/k8s-keystone-auth/.*
              - pkg/identity/.*
              - go.mod$
              - go.sum$
              - Makefile$
              - tests/e2e/k8s-keystone-auth/.*
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-multinode-csi-migration-test:
      jobs:
        - cloud-provider-openstack-multinode-csi-migration-test:
            files:
              - cmd/cinder-csi-plugin/.*
              - manifests/cinder-csi-plugin/.*
              - pkg/csi/cinder/.*
              - pkg/util/.*
              - go.mod$
              - go.sum$
              - Makefile$
    cloud-provider-openstack-acceptance-test-e2e-conformance:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$

Remove spurious whitespace in OCCM values file (#2347)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

chore: improve documentation
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/README.md
Due: none

test : getNetworkID
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

test : getNetworkID (#2396)
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Use standard service account name in OCCM helm chart (#2332)
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrolebinding.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/templates/serviceaccount.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

enh: add tests for checkListenerPorts
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

mod : removed the unused service config argument and modified the test to fit new function modification
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

mod : removed the unused service config argument and modified the test to fit new function modification
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

enh: add tests for checkListenerPorts (#2405)
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

add the logic for re-attache VIP to LB if the IP changed
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

chore: improve documentation (#2433)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/README.md
Due: none

Update index.yaml
  index.yaml
Due: none

Improve logging for boolean Service Annotations (#2437)
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

[docs] Update image build command
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  docs/developers-guide.md
Due: none

mod : removed the unused service config argument and modified the test to fit new function modification (#2450)
  pkg/openstack/loadbalancer.go
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[release-1.26] [occm] Use standard service account name in OCCM helm chart (#2449)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrolebinding.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/templates/serviceaccount.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

[docs] Update image build command (#2453)
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  docs/developers-guide.md
Due: none

[occm] fix: octavia tlsContainerRef validation for barbican secrets
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[release-1.27] [occm] Use standard service account name in OCCM helm chart (#2448)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrolebinding.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/templates/serviceaccount.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

[release-1.28] [occm] Use standard service account name in OCCM helm chart (#2447)
  charts/openstack-cloud-controller-manager/Chart.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  charts/openstack-cloud-controller-manager/templates/clusterrolebinding.yaml
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/templates/serviceaccount.yaml
  charts/openstack-cloud-controller-manager/values.yaml
Due: none

Update CONTRIBUTING.md (#2452)
  CONTRIBUTING.md
Due: none

refactor with readability
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

make it simpler
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

remove duplicate logic
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

test: LbaasV2 method buildMonitorCreateOpts
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

add the annotation way
  docs/openstack-cloud-controller-manager/expose-applications-using-loadbalancer-type-service.md
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Update csi-deps.sh
  tools/csi-deps.sh
Due: none

test: LbaasV2 method buildMonitorCreateOpts (#2429)
  pkg/openstack/loadbalancer_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[occm] fix: octavia tlsContainerRef validation for barbican secrets (#2456)
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

fix: octavia tlsContainerRef validation for barbican secrets
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

manage-security-groups: Only add SGs to LB members
  pkg/openstack/loadbalancer.go
  pkg/openstack/openstack.go
  pkg/util/openstack/network.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19
