Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

.zuul.yaml:

- project:
    cloud-provider-openstack-acceptance-test-keystone-authentication-authorization:
      jobs:
        - cloud-provider-openstack-acceptance-test-keystone-authentication-authorization:
            files:
              - cmd/k8s-keystone-auth/.*
              - pkg/identity/.*
              - go.mod$
              - go.sum$
              - Makefile$
              - tests/e2e/k8s-keystone-auth/.*
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-multinode-csi-migration-test:
      jobs:
        - cloud-provider-openstack-multinode-csi-migration-test:
            files:
              - cmd/cinder-csi-plugin/.*
              - manifests/cinder-csi-plugin/.*
              - pkg/csi/cinder/.*
              - pkg/util/.*
              - go.mod$
              - go.sum$
              - Makefile$
    cloud-provider-openstack-acceptance-test-e2e-conformance:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$

bump CSI version (currency)
  charts/cinder-csi-plugin/templates/controllerplugin-rbac.yaml
  charts/cinder-csi-plugin/values.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

Modify install-cpo-occm to deploy latest image
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
  tests/playbooks/test-occm-e2e.yaml
Due: none

Add extra variables for image_url
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
Due: none

magnum-auto-healer: use Cinder v3 (#1769) (#1775)
  pkg/autohealing/cloudprovider/register/register.go
Due: none

[All] Modify install-cpo-oocm role to support use of latest image (#1710)
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
  tests/playbooks/test-occm-e2e.yaml
Due: none

[manila-csi-plugin] Update e2e tests to reuse occm role
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/test-csi-manila-e2e.yaml
Due: none

[manila-csi-plugin] Update e2e tests to reuse occm role (#1800)
  tests/playbooks/roles/install-csi-manila/tasks/main.yaml
  tests/playbooks/test-csi-manila-e2e.yaml
Due: none

[occm] Allow service status changes in ClusterRole
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  manifests/controller-manager/cloud-controller-manager-roles.yaml
Due: none

Add ci for keystone e2e
  .zuul.yaml
  tests/ci-keystone-e2e.sh
  tests/playbooks/roles/install-keystone-auth/README.md
  tests/playbooks/roles/install-keystone-auth/defaults/main.yaml
  tests/playbooks/roles/install-keystone-auth/tasks/main.yaml
  tests/playbooks/test-keystone-e2e.yaml
Due: none

Add CapOnlineExpansion test
  tests/e2e/csi/cinder/cinder-testdriver.go
Due: none

update doc on minor issues
  docs/cinder-csi-plugin/features.md
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
Due: none

update doc on minor issues (#1806)
  docs/cinder-csi-plugin/features.md
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
Due: none

Update loadbalancer.go
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[occm] Allow service status changes in ClusterRole (#1802)
  charts/openstack-cloud-controller-manager/templates/clusterrole.yaml
  manifests/controller-manager/cloud-controller-manager-roles.yaml
Due: none

Add CapOnlineExpansion test (#1805)
  tests/e2e/csi/cinder/cinder-testdriver.go
Due: none

bump CSI version (currency) (#1797)
  charts/cinder-csi-plugin/templates/controllerplugin-rbac.yaml
  charts/cinder-csi-plugin/values.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin-rbac.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

Add --cluster-name=$(CLUSTER_NAME) support
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
Due: none

Add e2e conformance job
  tests/ci-occm-e2e-conformance.sh
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-cpo-occm/tasks/main.yaml
  tests/playbooks/test-occm-e2e-conformance.yaml
Due: none

[openstack-cloud-controller-manager] Log warning when internal-lb=true and requesting external LB (#1717)
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

add snapshot back into CI (again)
  tests/e2e/csi/cinder/cinder-testdriver.go
  tests/e2e/csi/cinder/csi-volumes.go
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
Due: none

Add --cluster-name=$(CLUSTER_NAME) support (#1809)
  charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  charts/openstack-cloud-controller-manager/values.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
Due: none

[cinder-csi-plugin] Add e2e logs for debugging
  tests/ci-csi-cinder-e2e.sh
  tests/playbooks/roles/install-csi-cinder/defaults/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
Due: none

[cinder-csi-plugin] Add e2e logs for debugging (#1711)
  tests/ci-csi-cinder-e2e.sh
  tests/playbooks/roles/install-csi-cinder/defaults/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
Due: none

[cinder-csi-plugin]add 'force-create' into tag param to support force create
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
Due: cloud-provider-openstack-multinode-csi-migration-test

[occm] Removed unused '[BlockStorage]' options
  pkg/openstack/openstack.go
  pkg/openstack/openstack_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[cinder-csi-plugin] Add Doc for topology
  docs/cinder-csi-plugin/examples.md
  docs/cinder-csi-plugin/features.md
Due: none

fix lint issue
  Makefile
  hack/verify-golint.sh
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

update prometheus goclient to 1.11.1 to address CVE-2022-21698
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

fix lint issue (#1817)
  Makefile
  hack/verify-golint.sh
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[cinder-csi-plugin] Add Doc for topology (#1814)
  docs/cinder-csi-plugin/examples.md
  docs/cinder-csi-plugin/features.md
Due: none

[occm] Removed unused '[BlockStorage]' options (#1815)
  pkg/openstack/openstack.go
  pkg/openstack/openstack_test.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

CARRY: Bump k8s deps to 0.24.0-beta.0
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

add snapshot back into CI (again) (#1662)
  tests/e2e/csi/cinder/cinder-testdriver.go
  tests/e2e/csi/cinder/csi-volumes.go
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
Due: none

update prometheus goclient to 1.11.1 to address CVE-2022-21698 (#1820)
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[cinder-csi-plugin]add 'force-create' into tag param to support force create (#1813)
  pkg/csi/cinder/controllerserver.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/openstack/openstack_snapshots.go
Due: cloud-provider-openstack-multinode-csi-migration-test

Support version output of OCCM
  Makefile
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Support version output of OCCM (#1821)
  Makefile
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

fix listener pop during iteration
  pkg/openstack/loadbalancer.go
Due: cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19
