Repository kubernetes/cloud-provider-openstack: changes, and which Zuul jobs are due for each by the changed paths.
All: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

.zuul.yaml:

- project:
    cloud-provider-openstack-acceptance-test-keystone-authentication-authorization:
      jobs:
        - cloud-provider-openstack-acceptance-test-keystone-authentication-authorization:
            files:
              - cmd/k8s-keystone-auth/.*
              - pkg/identity/.*
              - go.mod$
              - go.sum$
              - Makefile$
              - tests/e2e/k8s-keystone-auth/.*
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-multinode-csi-migration-test:
      jobs:
        - cloud-provider-openstack-multinode-csi-migration-test:
            files:
              - cmd/cinder-csi-plugin/.*
              - manifests/cinder-csi-plugin/.*
              - pkg/csi/cinder/.*
              - pkg/util/.*
              - go.mod$
              - go.sum$
              - Makefile$
    cloud-provider-openstack-acceptance-test-e2e-conformance:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$
    cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19:
      jobs:
        - cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19:
            files:
              - cmd/openstack-cloud-controller-manager/.*
              - pkg/openstack/.*
              - pkg/util/.*
              - tests/e2e/cloudprovider/.*
              - go.mod$
              - go.sum$
              - Makefile$
            irrelevant-files:
              - ^docs/.*$
              - ^.*\.md$
              - ^OWNERS$
              - ^SECURITY_CONTACTS$
              - ^.gitignore$

Bump golangci to 1.61 (#2664)
  .golangci.yaml
  Makefile
  cmd/manila-csi-plugin/main.go
  pkg/util/blockdevice/blockdevice_linux.go
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

allow node service to run without openstack client (#2662)
  cmd/cinder-csi-plugin/main.go
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  pkg/csi/cinder/openstack/noop_openstack.go
  pkg/csi/cinder/openstack/openstack.go
Due: cloud-provider-openstack-multinode-csi-migration-test

Update image build command
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  docs/developers-guide.md
Due: none

Update image build command (#2666)
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  docs/developers-guide.md
Due: none

update doc to include --http-endpoint
  cmd/cinder-csi-plugin/main.go
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
Due: cloud-provider-openstack-multinode-csi-migration-test

[release-1.29] Add support to only run selected CSI services (#2663)
  cmd/cinder-csi-plugin/main.go
  cmd/manila-csi-plugin/main.go
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  docs/manila-csi-plugin/using-manila-csi-plugin.md
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
  pkg/csi/cinder/identityserver_test.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/utils.go
  pkg/csi/manila/driver.go
  tests/sanity/cinder/sanity_test.go
  tests/sanity/manila/sanity_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test

allow node service to run without openstack client
  cmd/cinder-csi-plugin/main.go
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  pkg/csi/cinder/openstack/noop_openstack.go
  pkg/csi/cinder/openstack/openstack.go
Due: cloud-provider-openstack-multinode-csi-migration-test

[cinder-csi]: allow node service to run without openstack client
  cmd/cinder-csi-plugin/main.go
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  pkg/csi/cinder/openstack/noop_openstack.go
  pkg/csi/cinder/openstack/openstack.go
Due: cloud-provider-openstack-multinode-csi-migration-test

update doc to include --http-endpoint (#2667)
  cmd/cinder-csi-plugin/main.go
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
Due: cloud-provider-openstack-multinode-csi-migration-test

Add support to only run selected CSI services of the cinder CSI driver
  cmd/cinder-csi-plugin/main.go
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
  pkg/csi/cinder/identityserver_test.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/utils.go
  pkg/csi/manila/driver.go
  tests/sanity/cinder/sanity_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test

Update documentation for the CSI service parameters
  cmd/cinder-csi-plugin/main.go
  cmd/manila-csi-plugin/main.go
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  docs/manila-csi-plugin/using-manila-csi-plugin.md
Due: cloud-provider-openstack-multinode-csi-migration-test

Update description of the `nodeid` command line parameter
  cmd/manila-csi-plugin/main.go
Due: none

Clean up source files to successfully complete linting
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/driver_test.go
  pkg/csi/cinder/identityserver_test.go
  pkg/csi/cinder/nodeserver_test.go
  tests/sanity/cinder/sanity_test.go
  tests/sanity/manila/sanity_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test

Add support to only run selected CSI services of the manila CSI driver
  cmd/manila-csi-plugin/main.go
  pkg/csi/manila/driver.go
  tests/sanity/manila/sanity_test.go
Due: none

[release-1.28] Add support to only run selected CSI services (#2670)
  cmd/cinder-csi-plugin/main.go
  cmd/manila-csi-plugin/main.go
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  docs/manila-csi-plugin/using-manila-csi-plugin.md
  pkg/csi/cinder/controllerserver_test.go
  pkg/csi/cinder/driver.go
  pkg/csi/cinder/driver_test.go
  pkg/csi/cinder/identityserver_test.go
  pkg/csi/cinder/nodeserver_test.go
  pkg/csi/cinder/utils.go
  pkg/csi/manila/driver.go
  tests/sanity/cinder/sanity_test.go
  tests/sanity/manila/sanity_test.go
Due: cloud-provider-openstack-multinode-csi-migration-test

[cinder-csi]: allow node service to run without openstack client (#2669)
  cmd/cinder-csi-plugin/main.go
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  pkg/csi/cinder/openstack/noop_openstack.go
  pkg/csi/cinder/openstack/openstack.go
Due: cloud-provider-openstack-multinode-csi-migration-test

allow node service to run without openstack client (#2671)
  cmd/cinder-csi-plugin/main.go
  docs/cinder-csi-plugin/using-cinder-csi-plugin.md
  pkg/csi/cinder/openstack/noop_openstack.go
  pkg/csi/cinder/openstack/openstack.go
Due: cloud-provider-openstack-multinode-csi-migration-test

Bump go deps
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[release-1.31]: prepare a new release
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/cinder-csi-plugin/multi-region-clouds.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

Bump go deps (#2672)
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[release-1.31]: prepare a new release (#2660)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/cinder-csi-plugin/multi-region-clouds.md
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

Fix CI permissions
  .github/workflows/release-cpo.yaml
  .github/workflows/release.yaml
Due: none

Bump go deps (#2674)
  go.mod
  go.sum
Due: cloud-provider-openstack-acceptance-test-keystone-authentication-authorization, cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

Bump chart releaser
  .github/workflows/release.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

[release-1.29]: prepare a new release (#2658)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

[release-1.30]: prepare a new release (#2659)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

[release-1.28]: prepare a new release (#2657)
  charts/cinder-csi-plugin/Chart.yaml
  charts/manila-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
  docs/keystone-auth/using-keystone-webhook-authenticator-and-authorizer.md
  docs/magnum-auto-healer/using-magnum-auto-healer.md
  docs/octavia-ingress-controller/using-octavia-ingress-controller.md
  examples/webhook/keystone-deployment.yaml
  manifests/barbican-kms/ds.yaml
  manifests/barbican-kms/pod.yaml
  manifests/cinder-csi-plugin/cinder-csi-controllerplugin.yaml
  manifests/cinder-csi-plugin/cinder-csi-nodeplugin.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-ds.yaml
  manifests/controller-manager/openstack-cloud-controller-manager-pod.yaml
  manifests/magnum-auto-healer/magnum-auto-healer.yaml
  manifests/manila-csi-plugin/csi-controllerplugin.yaml
  manifests/manila-csi-plugin/csi-nodeplugin.yaml
  tests/playbooks/roles/install-cpo-occm/defaults/main.yaml
  tests/playbooks/roles/install-csi-cinder/tasks/main.yaml
  tests/playbooks/roles/install-k3s/defaults/main.yaml
  tests/playbooks/test-csi-cinder-e2e.yaml
Due: cloud-provider-openstack-multinode-csi-migration-test

Fix CI permissions, bump chart releaser
  .github/workflows/release-cpo.yaml
  .github/workflows/release.yaml
Due: none

Fix chart versions
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: none

Fix chart versions
  charts/cinder-csi-plugin/Chart.yaml
  charts/openstack-cloud-controller-manager/Chart.yaml
Due: none

support multi region cluster
  docs/openstack-cloud-controller-manager/using-openstack-cloud-controller-manager.md
  pkg/client/client.go
  pkg/csi/cinder/openstack/openstack.go
  pkg/csi/cinder/openstack/openstack_test.go
  pkg/openstack/instancesv2.go
  pkg/openstack/openstack.go
Due: cloud-provider-openstack-multinode-csi-migration-test, cloud-provider-openstack-acceptance-test-e2e-conformance, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.21, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.20, cloud-provider-openstack-acceptance-test-e2e-conformance-stable-branch-v1.19

[cinder-csi-plugin]: fix global config requirement for node-service
  pkg/csi/cinder/openstack/openstack.go
Due: cloud-provider-openstack-multinode-csi-migration-test
